[2016-11-01 09:06] JKHeadley opened #1 "support mongoose $text search query parameter"

[2016-11-01 09:07] JKHeadley opened #2 "sorting through populate fields"
Ex: sort users through role.name

[2016-11-01 09:08] JKHeadley opened #3 "support built in created_at and updated_at fields for each model"

[2016-11-01 09:10] JKHeadley opened #4 "support "duplicate" field property"
Any associated models referencing that model will duplicate those fields along with the reference _Id. This could allow for a shallow embed that will return a list of reference ids with their "duplicate" values, and a full embed that will return the fully embedded references

[2016-11-01 09:12] JKHeadley opened #5 "support automatic logging/auditing of all operations"
This would log all CRUD operations as well as association events.

[2016-11-01 09:12] JKHeadley opened #6 "support "soft" delete of mongo documents"
Documents are marked as "deleted" but remain in the db.

[2016-11-02 23:16] Metatricity commented on #6
I'm assuming on exit (or some sort of switch) these will be deleted?

[2016-11-02 23:23] JKHeadley commented on #6
The idea behind this is for consistency/recordkeeping, so by default they would not be deleted.  However I would like to provide a "clean" function that would delete all "soft" deleted docs on command.  Also possibly support some sort of TTL that would flag docs to be deleted after a certain specified duration.

[2016-11-05 00:02] Metatricity commented on #6
I think I understand now. Best of luck on your project from here forth!

[2016-11-05 02:39] JKHeadley commented on #6
Thanks!

[2017-01-19 10:51] JKHeadley commented on #6
Added basic soft-delete functionality.

[2017-01-19 10:51] #6 closed

[2017-01-19 10:52] JKHeadley commented on #3
Added metadata support.

[2017-01-19 10:52] #3 closed

[2017-01-19 10:52] JKHeadley commented on #1
Added $text query support.

[2017-01-19 10:52] #1 closed

[2017-02-14 05:22] JKHeadley opened #7 "images"
Using this issue to store images since npm doesn't like them in the repo.

[2017-02-14 09:20] #7 closed

[2017-03-18 16:22] vsiguero opened #9 "/register endpoint returning 504 Gateway timeout"
Hi, I'm using your framework for some testing, and I can't guess what happens with the /register endpoint:

When I give this payload to the body:
[code]

The server always returns:

[code]

Keep the good work btw!
Thanks

[2017-03-18 16:26] #9 closed

[2017-03-18 16:27] vsiguero commented on #9
Sorry I've mistaken the repo, this belongs to your appy framework, not the rest-hapi plugin!

[2017-04-02 22:37] prawee opened #11 "Error: TypeError: Joi.objectId is not a function"
after seed already. then create api.js file and running.

`TypeError: Joi.objectId is not a function
    at Schema.statics.routeOptions.extraEndpoints (/private/var/www/hapi-rest/models/user.model.js:107:28)
    at Object.generateRoutes (/private/var/www/hapi-rest/node_modules/rest-hapi/utilities/rest-helper-factory.js:93:13)
    at /private/var/www/hapi-rest/node_modules/rest-hapi/rest-hapi.js:92

[2017-04-03 01:49] prawee commented on #11
fixed  via using   https://www.npmjs.com/package/joi-objectid
thank you

[2017-04-03 01:49] #11 closed

[2017-04-03 04:22] prawee opened #12 "when i used config database have connect 2 time"
before register plugin used
[code]
this is result
[code]

[2017-04-03 04:27] prawee commented on #12
ahh. sorry my config is wrong
change URL to URI  fixed

[2017-04-03 04:27] #12 closed

[2017-04-03 16:27] moacirosa opened #13 "Engine restrictions"
I'm using `yarn` as package manager and sometimes I get some warnings about the engine being not compatible. It's currently fixed as `6.0.0`. I've just run the tests over `v6.8.0` and all tests are green. Do you really have this restriction for some reason?

[code]

[2017-04-03 19:05] #13 closed

[2017-04-03 19:06] JKHeadley commented on #13
@moacirosa, just meant to add those as suggestions. Changed the versions to be approximate, hopefully that will remove your warnings.

[2017-04-03 19:08] moacirosa commented on #13
Wow! That was fast! Thanks! :+1: :smile:

[2017-04-03 19:12] JKHeadley commented on #13
👍

[2017-04-06 21:48] viktor1190 opened #14 "Support a collection at modelPath config"
The configurations have a property to customize the path to the models.

config.modelPath = 'models';

This is a single path directory so all the models must be inside.
It would be great if I could set up a collection of files instead of a directory

For example, I have the next project tree:

    myProject/
      |- index.js
      |- server.js
      |- config/
      |- modules/
          |- users

[2017-04-19 08:18] jobberwalker opened #15 "pre functions for list & find operations"
It's an enhancement to add pre functions for list & find operations to hook the request before real read operation is performed.

[2017-04-24 08:26] dashawk opened #16 "No gulpfile found"
I tried to use your demo repo and tried to seed my model using `./node_modules/.bin/rest-hapi-cli seed` or `rest-hapi-cli seed` for global, but it keeps on saying `No gulpfile found` even if I already have a gulpfile.js in the directory.

[2017-04-24 17:02] JKHeadley commented on #16
Hmm, sounds like you're running the command from the wrong directory.  If you're following the [rest-hapi-demo](https://github.com/JKHeadley/rest-hapi-demo) then make sure you run the seed command from within the rest-hapi-demo directory.

As a side note, I noticed some of the rest-hapi-demo code was out of date, so I pushed an update.  Make sure you pull the updates to get the best functionality.

[2017-04-25 00:31] dashawk commented on #16
Thank you for looking into this, but I still have the same error. I executed the command in the root directory of the demo app.

Here is the screenshot I recently took.
![image](https://cloud.githubusercontent.com/assets/1437205/25363930/438bc720-2991-11e7-83c9-6889d56362d1.png)

[2017-04-25 00:59] dashawk commented on #16
I've been digging the cli command and created a PR #17 for this issue.

[2017-04-29 19:13] JKHeadley commented on #16
Thanks for the fix!

[2017-04-29 19:13] #16 closed

[2017-04-29 19:14] JKHeadley opened #18 "addOne and addMany only populating parent (not child)"

[2017-04-29 19:36] #18 closed

[2017-06-15 06:59] parveen-oodles opened #19 "How to get the validateFunc returned data in pre hook of internal API made by Rest-Hapi."
Hi, I am just wondering to know that,

How can we add some extra info in PAYLOAD object in auth (validateFunc) function  so that we can use that in pre (create) hook in internal API (generated by Rest-Hapi). Because as i want some user info for some validation in my pre hook, like:-
[code]
but as i only able to get the payload there so how can i get the additional info as well.
You can get the det

[2017-06-15 20:05] JKHeadley commented on #19
Hi @parveen-oodles, this is actually a feature that is being worked on and hopefully will be done soon.

For now, you can [omit the generated create endpoint](https://github.com/JKHeadley/rest-hapi/blob/master/README.md#omitting-routes) and [replace it with your own](https://github.com/JKHeadley/rest-hapi/blob/master/README.md#standalone-endpoints) in order to access the request object.

The resul

[2017-06-15 20:05] #19 closed

[2017-06-15 20:06] JKHeadley opened #20 "Access request object in middleware"
Reference #19

[2017-06-16 04:07] parveen-oodles commented on #19
Thanks JKHeadley for your quick response. I really appreciate that.
Thanks again.:)

[2017-06-19 08:04] parveen-oodles commented on #19
@JKHeadley , I set the property of allowCreate to false for one of my model for which i don't want to create API implicitly. After that I have created a standalone  endpoint  as suggested by you for the create(POST) call for that particular model  but after that it will not creating the API endpoint , also it will not generating the DOC for the same. As in doc mentioned :-

so i have also set the

[2017-06-20 17:58] JKHeadley commented on #19
Hi Parveen,

Did you resolve your issue? I didn't see you comment in github.

It looks like you are setting the allowCreate property correctly, however
the standalone endpoint should be in a separate file in an "api" directory,
not in your model directory/file. Please review the docs for an example:

https://github.com/JKHeadley/rest-hapi/blob/master/README.md#standalone-endpoints

On Mon, Jun 19,

[2017-06-21 11:54] parveen-oodles commented on #19
Thanks JKHeadley, yes i have resolved my issue, that was due to the standalone endpoint wasn't in the separate file.
Thanks

[2017-06-23 12:17] jobberwalker opened #21 "$where does not support real raw queries"
Hello,
For $where field when provided simple selection like e.g.  {"doc_nr": "1005"} works perfectly fine. For more complex including special operators (with $) it does not work, e.g.: { "doc_nr": {$ne: "1005"}}

result:

ERROR    node_modules/rest-hapi/utilities/error-helper.js:27:11 api/docs/List — error:  SyntaxError: Unexpected token $ in JSON at position 17

Thanks
JB

[2017-06-23 12:20] jobberwalker commented on #20
Hello, that would be perfect to have request object in middleware functions. For now, I had to register hapi js server extensions.
Thanks
JB

[2017-06-24 18:57] JKHeadley commented on #21
@jobberwalker, if you are testing this in the swagger docs, you have to put quotes around all the query commands. Try: { "doc_nr": { "$ne": "1005"}}

[2017-06-24 19:00] JKHeadley commented on #20
@jobberwalker, in case you haven't already, you can view #19 for a current workaround.

[2017-06-27 09:14] jobberwalker commented on #21
Hello JKHeadley,
Yes you are right. This is working perfectly fine with quotes.
JB

[2017-06-27 17:47] #21 closed

[2017-07-05 17:51] bielcapanema opened #22 "$sort with array"
How can I sort the results with a array length ?

My collection have an 'likes' field that is an array of user ids, and I want to return the documents sorted with 'likes' length.

Can someone help me? #

[2017-07-05 18:44] JKHeadley commented on #22
Hi @bielcapanema, there currently isn't any built in support for sorting by array length, however you could try the following approach:

Add a property, "likesCount", to your collection (here we're calling the collection "comment"). In your model definition, add an update middleware function that updates "likesCount" to be the length of the "likes" array, whenever "likes" is updated.  You can then

[2017-07-05 18:44] #22 closed

[2017-07-07 11:00] abhishekaccion opened #23 "is there any option to hide delete API for a particular model from swagger"

[2017-07-07 20:12] JKHeadley commented on #23
Yes, you can omit certain endpoints by setting the appropriate value in the routeOptions property:

https://github.com/JKHeadley/rest-hapi#omitting-routes

[2017-07-07 20:12] #23 closed

[2017-08-02 20:13] JKHeadley opened #24 "type: [Types.ObjectId] causes error"
Given a model:

[code]

and a POST payload:

[code]

an error will occur:
``Error: “value” must be an array. child “hashTags” fails because [“hashTags” at position 0 fails because [“0" must be a string]]``

Need to look into this, but the current fix is to update the ``hashTags`` to type ``[Types.String]``:

[code]

[2017-08-03 16:56] JKHeadley opened #25 "response model for PUT and POST should not contain associations"

[2017-08-04 19:19] cristianpedroso opened #26 "use $or on restHapi List"
When i try to make a list using restHapy i recive this error:

MongoError: $or must be an array
[code]

[2017-08-04 23:03] JKHeadley commented on #26
@cristianpedroso it looks like you are trying to perform a raw mongoose query.  If you would like to do that through rest-hapi, you can try using the `$where` query parameter like so:

[code]

[2017-08-04 23:03] #26 closed

[2017-08-04 23:42] cristianpedroso commented on #26
thats makes more sense now. Thanks!

[2017-08-16 06:27] parveen-oodles opened #27 "Pre, Post (middle-ware) for association API should be there"
Hi,
i am working on some functionality where i require some post operation after the API created for association that internally call addOne method , but as i see there is middle-ware operation are only available for normal create , update but not for API created for association. So if someone need to do some work after the API like you provided post (middle-ware) how one can do the same in case o

[2017-08-16 06:37] parveen-oodles opened #28 "How to do some enhancement or changes in existing API created automatically by Rest-Hapi."
Hi,
First of all thanks for providing awesome module like rest-hapi. I required so many time that if there is somehow i can change or modify the auto created API according to my requirement. Like if i add one flag, if that flag value is true than i call one of my method and than append the result of my method with the result we are going to send to the client. Is this functionality currently exist

[2017-08-16 06:46] parveen-oodles opened #29 "Association not updated automatically need to call separate API for update in associated models"
Hi,
I am using Rest-Hapi and it provides functionality to create auto API for association. But just wondering to know why it not update the associated model with the single call. We need to call the separate API for updating associated model.
**For example:-**
Suppose i have may to many association between FirstResponder and Occupants , so as Occupant call the API for assigning the FR , so i need

[2017-08-16 18:29] JKHeadley commented on #27
@parveen-oodles I will look into if this is something that can be added.

[2017-08-16 18:33] JKHeadley commented on #28
I'm not sure if I understand your question exactly, but it sounds like you want to modify the response before it is sent to the client.  This is something that you should be able to accomplish with the [middleware](https://github.com/JKHeadley/rest-hapi#middleware) functions.

[2017-08-16 18:40] JKHeadley commented on #29
You should only have to call the API once to update the association.  There was a [bug](https://github.com/JKHeadley/rest-hapi/issues/18) in a previous version that required two API calls to update an association, but this has since been [fixed](https://github.com/JKHeadley/rest-hapi/commit/f0f0d04f2dd576c471a0d9b3cce502e121bdca9c).

[2017-08-16 18:40] #29 closed

[2017-08-16 21:25] duartealexf opened #30 "TypeError: Cannot read property 'schemaName' of undefined"
Hi there. I keep running into this error when trying to startup my application. I've looked for help in Google, with no luck. Unfortunately i can't share much of the code, but here's the stacktrace:

[code]

Tell me if you need more details.
I'm using the latest version of rest-hapi.
Thanks.

[2017-08-16 23:11] JKHeadley commented on #30
That error would occur if you are not assigning a type to one of your model properties. For example:

[code]

[2017-08-17 12:00] duartealexf commented on #30
Thanks for the reply @JKHeadley, but actually I am setting the type. Might this error be because of my 'cols' empty array property? This is my model:
[code]
I'm also setting some `schema.statics` after that, but I'm not sure it is related to the error.

Thanks again.

[2017-08-17 22:11] JKHeadley commented on #30
yes, it is due to the empty `cols` array.  If you assign a type to the array, it should fix that, for example:

[code]
or even

[code]
should work.

[2017-08-18 19:36] duartealexf commented on #30
Thanks @JKHeadley,
I used the first solution and it worked.

I also found another way to fix it:

[code]

[2017-08-18 19:45] #24 closed

[2017-08-19 07:35] #30 closed

[2017-08-21 05:39] samseralam opened #31 "can we use $embed for array of array field?"
@JKHeadley  would like to use $embed for getting inner array field data.
my schema is like this...
facilitiesPerFloor: [{
             suiteInfo: {
                 floorNo: {
                     type: Types.Number
                 }
             },
             facilities: [{
                 type: Types.ObjectId,
                 ref: "facility"
             }]
         }]

**Holding Data**
"fa

[2017-08-22 05:57] parveen-oodles commented on #28
Thanks for your valuable reply JKHeadley , Yes you are right we can do the work via middle-ware but not in case of update API of association . So if you update the code according to my issue i.e. **[https://github.com/JKHeadley/rest-hapi/issues/27]** than this will automatically resolved.

And apart from that i just want a place where i can write my custom function that's not related to DB lets sa

[2017-08-22 09:33] JKHeadley commented on #31
You cannot directly use `$embed` here to populate the facilities.  You can however set up a dummy association and process your own `$embed` query using a `post` middleware function.  Below is one example of how to implement this.  It is by no means the most efficient solution and I can't guarantee its complete functionality but I had some success with it.

NOTE: the below code will only work for r

[2017-08-22 09:33] #31 closed

[2017-08-22 09:49] JKHeadley commented on #28
Thanks for your clarification.  Hopefully I can work on #27 soon.  As for custom functions you always have the option of adding "static" functions to the `Schema.statics` property.  Consider the below example code borrowed from the [appy](https://github.com/JKHeadley/appy/blob/master/server/models/session.model.js) project:

[code]

Then wherever you need to access/call this function you can use c

[2017-08-24 00:14] JKHeadley opened #33 "Support scope/permissions for individual model properties."
Example:

[code]

[2017-08-25 07:15] parveen-oodles commented on #28
@JKHeadley  Thanks a lot. :+1:

[2017-08-25 07:24] parveen-oodles commented on #28
But what if i need request object in my function. And the API is implicitly created by Rest-Hapi. I can do one thing for this i can call my function from validateFunc of Auth and pass request object from there but what if there is no authentication there for that API than how can i get the request object  in my function.
would appreciate if please clear me on this .
Thanks

[2017-08-25 09:23] JKHeadley commented on #28
That would depend on when and where you intend to use your function.  For example, say I had a static function for the ``Session`` model that had the request as a parameter:

[code]

I could then call this function during any part of the Hapi request lifecycle where the request object is available.  As you already stated, the ``validateFunc`` function is one place where ``request`` is available. A

[2017-08-28 10:25] samseralam commented on #31
Thanks @JKHeadley
After creating association with facility model it works fine.

[2017-08-28 18:44] tamias commented on #20
I'm curious about the progress of this feature.  I've implemented a custom create endpoint, as suggested in #19.  However, I need to access the request object for all the CRUD endpoints, to make sure users can only access their own content.  List in particular seems to have a lot of code that goes into generating the endpoint, which I think I'd have to duplicate.
Thanks!

[2017-08-28 22:23] JKHeadley commented on #20
@tamias I haven't had a lot of time for features lately, but given the amount of interest in this feature I will try to work this in the next version.

For now you should still be able to take advantage of most of the generated code with the below workaround for list.  The main functionality that you will lose is the Joi validation, swagger docs, and generate scopes/authorization.

[code]

[2017-08-29 09:29] #20 closed

[2017-08-29 10:47] JKHeadley commented on #28
@parveen-oodles the request object is now available in middleware functions.  Please see the [changelog](https://github.com/JKHeadley/rest-hapi/blob/master/CHANGELOG.md#0200---2017-08-29-breaking) for details.

[2017-08-29 10:47] #28 closed

[2017-08-29 12:59] parveen-oodles opened #35 "Linking Models are saved in the same model as array (they should be saved in different collection) so what if maximum size of document exceed i.e 16 MB?"
Hi JKHeadley, I am just wondering to know that you create linking models for many to many relationship . And the relationship stores as an array on the same model, so what i am thinking because so many relationship  would be there so that document size become heavy. So that will create issue after some time because maximum size of an document we have in Mongo is of 16 MB.

According to me there sh

[2017-08-29 19:36] JKHeadley commented on #35
Hi @parveen-oodles, that is a good point.  I think that there are situations where both options would be beneficial.  Having the linking models stored in the parent model collection simplifies code and I believe is more efficient in situations where there are not too many relationships.  However it would be good to have an option to store the linking models in their own collection in the case wher

[2017-08-29 19:48] JKHeadley opened #36 "add option for separate linking model collection"
Add an option to allow linking models to exist within their own collection.  This would prevent parent model documents from growing too large when there are many related (many-to-many) documents.  This option will most likely exist both as a global setting and as a property within the association object/definition.

[2017-08-29 19:53] #35 closed

[2017-08-29 19:53] JKHeadley commented on #36
In reference to #35

[2017-08-30 08:26] parveen-oodles commented on #35
Thanks @JKHeadley for adding this for future version and also for very quick responses you gave , i strongly appreciate your efforts.
Thanks

[2017-08-31 10:10] samseralam opened #39 "How can associate with multiple model?"
Hi, @JKHeadley
I need to make association with multiple field, so is there any way to define association with more than one model?.
example:
my schema is like this:
 masterField: [{

             abc: [{
                 facility: {
                     type: Types.ObjectId,
                     ref: "abc"
                 }
             }],
             xyz: [{
                 item: {

[2017-08-31 22:49] JKHeadley commented on #39
I don't believe what you are trying to do will work with the regular `$embed` query.  However you might be able to accomplish this with a solution similar to the one posted in #31.

If this turns out to be too much trouble, it would probably be easier to split up/add more models (and associate them) rather than trying to encapsulate all the relationships into one field.

[2017-09-01 05:06] samseralam commented on #39
Thanks @JKHeadley
Absolutely! split up/add more models +1

[2017-09-01 19:28] #39 closed

[2017-09-05 16:16] tamias opened #45 "Boom.serverTimeout is not a function"
error-helper.js calls `Boom.serverTimeout`, but Boom doesn't define that method.  Which HTTP error is intended for these cases?  Perhaps `Boom.badImplementation`, which corresponds to HTTP 500 Internal Server Error?

[2017-09-05 18:59] tamias opened #46 "Proposal: updateHandler to use findById() + findOneAndUpdate()"
Using the recent changes/additions to the middleware, I've been able to have my create, list and find endpoints use the authenticated user's credentials.  For example:
[code]

---

Now I'm working on adding the same functionality to the update endpoint.  Currently the update handler simply calls `model.findByIdAndUpdate(_id, payload)`.  I propose changing this to:

[code]

This way, the document s

[2017-09-06 03:51] JKHeadley commented on #15
Added with #41 and #40

[2017-09-06 03:51] #15 closed

[2017-09-06 04:02] JKHeadley commented on #45
Looks like it was removed in recent versions.  I agree that `Boom.badImplementation` is a fitting replacement.

[2017-09-06 04:35] JKHeadley commented on #46
Interesting idea, I'll check out your POC.  Could you give an example use case for this?  My initial thought is that the `findById` is redundant/unnecessary if the query filter is used.  It's not clear to me how filtering by both `_id` and `query` is useful.

Maybe the simplest solution is to create another endpoint `PUT /model` that accepts a query filter rather than an `_id` parameter to filter

[2017-09-06 04:39] JKHeadley commented on #46
Another thought is `PUT /model` could accept an `$upsert` query property that would allow insertions if no document matches are found.

[2017-09-06 12:59] tamias commented on #46
My use case is simply to prevent users from accessing content belonging to other users.

GET /model/{_id}, instead of doing a query for `{ _id: _id }`, will do a query for `{ _id: _id, account: request.auth.credentials.account }`.  If the document with that _id has that account, it will be returned; otherwise the endpoint returns a 404.

In the same way, PUT /model/{_id}, instead of doing a query

[2017-09-06 20:38] JKHeadley commented on #46
I see, it sounds like you're looking for a method of document specific authorization, which is definitely a feature I would like to add in the near future.  Ideally it would perform similar to route specific authorization (most likely utilizing hapi scopes somehow) but on a document level.

I still believe the best way to accomplish the update queries would be through a new `PUT /model` endpoint.

[2017-09-06 21:19] tamias commented on #45
Digging into this a little more, I discovered that `Boom.serverTimeout` (503 Service Unavailable) was renamed to `Boom.serverUnavailable` in v3.2.2, and the `Boom.serverTimeout` alias was removed in v4.0.0.

With that in mind, which error would you prefer, badImplementation or serverUnavailable?

[2017-09-07 03:47] JKHeadley commented on #45
I still feel badImplementation is more fitting.

[2017-09-07 13:33] tamias commented on #46
Yes, document-specific authorization is what I'm going for.

If the document I'm looking for isn't found (either because it doesn't exist, or because it has different value for `account`), I don't want to do an upsert; I just want to return a 404.  Would that work with the proposed `PUT /model` endpoint?

The nice thing about having this work with the `PUT /model/{_id}` endpoint is that it's trans

[2017-09-07 13:39] tamias commented on #46
I should mention that I'll also be needing document-specific authorization for the delete endpoint.

[2017-09-07 13:40] tamias commented on #45
That will save me some time then. 😄

[2017-09-08 13:05] samseralam opened #49 "Defining Schema"
If there is a field in schema like this:

name: {
            firstName: {
                type: Types.String,
                required: true
            },
            lastName: {
                type: Types.String,
                required: true
            }
}

when i am going to save, it says : "message": "\"value\" at position 0 fails because [\"name\" is not allowed]
So how can save it on ab

[2017-09-08 19:17] JKHeadley commented on #49
Try:

[code]

[2017-09-08 19:17] #49 closed

[2017-09-08 20:46] JKHeadley opened #50 "Support document specific authorization"
Perhaps implemented with a built-in `scope` metadata property included with each document, similar to `createdAt`, etc.

[2017-09-08 20:49] JKHeadley commented on #46
Yes, given that a boolean `$upsert` query option could be passed in.  If `$upsert` is set to false, then a 404 would be returned.

Hmm, I guess I'm not following.  How would `PUT /model/{_id}` be more transparent than `PUT /model`?

I suppose this could be done, I could imaging 'PUT /model/{_id}` supporting both an `upsert:pre/post` and `update:pre/post`, however this would probably be more compli

[2017-09-11 02:35] #45 closed

[2017-09-11 13:40] tamias commented on #46
By "transparent", I mean that, as far as the implement of the client is concerned, there is no difference between the API having document-specific authorization and not having it.  If the client has to hit another endpoint, then the difference is visible to the client.

Having a separate endpoint to allow updating a document (or documents) based on a query without `_id` does sound useful.  But eve

[2017-09-12 15:23] JKHeadley opened #53 "Add descriptive error if ownerId does not match an entity"
Currently just responds with "There was an error processing the request".

[2017-09-14 14:04] jobberwalker opened #55 "new aggr parameter for aggregation pipelines"
Hello

I have a proposition of the enhancement, the new e.g. aggr parameter to pass raw aggregation pipelines.

Thanks
JB

[2017-09-15 18:50] piyushagwl007 opened #56 "Using Cassandra instead of MongoDb"
Hey I am using Apache Cassandra in my project, so how to configure the code such that it can work for Cassandra?

[2017-09-19 18:27] JKHeadley commented on #56
Unfortunately, rest-hapi currently only works with MongoDB.  Hopefully future versions will support other database options.

[2017-09-19 18:27] #56 closed

[2017-09-19 18:29] JKHeadley opened #57 "Modularize and abstract code to work with multiple databases"

[2017-09-21 23:19] JKHeadley opened #60 "Adopt the Hapi Style Guide"
For consistency, the code should be refactored according to [Hapi's coding conventions](https://hapijs.com/styleguide).

[2017-09-28 07:52] JKHeadley commented on #36
Included with #62

[2017-09-28 07:52] #36 closed

[2017-09-28 07:55] JKHeadley commented on #35
@parveen-oodles this feature was added with #62 Please see the [docs](https://github.com/JKHeadley/rest-hapi#many_many-data-storage) for details.

[2017-09-28 11:01] parveen-oodles commented on #35
Hi Justin, sdd

I guess there is some mistakes in the document you update for
embedAssociations s  i guess you written some of the points by mistake like
you written

   - Fewer collections in the db.  in case of config.embedAssociations: true

   i guess this should comes when config.embedAssociations: false
   -

Please correct me if i am wrong.

Thanks

On Thu, Sep 28, 2017 at 1:25 PM, Justin H

[2017-09-28 17:00] JKHeadley commented on #35
Hi @parveen-oodles, thanks for checking.  That particular point is correct.  When `config.embedAssociations` is set to `true` there are fewer collections compared to when it is `false`.  This is due to the linking collections that are created when it is `false`.  For instance, if `user` and `group` have a MANY_MANY relationship, then the extra collection `user_group` will be created when `config.e

[2017-09-29 22:42] JKHeadley commented on #35
@parveen-oodles please see the new [`update-associations` tool](https://github.com/JKHeadley/rest-hapi#updating-many_many-db-data) for migrating existing db data to the new format options.

[2017-10-10 08:29] parveen-oodles opened #64 "add functionality of Upsert"
Hi,
Sometime we want to update the document if that is already inserted otherwise we will insert a new one for this like mongo give us **Upsert:true** option, so suppose i am using Rest-Hapi then how can i  achieve the same thing via Rest-Hapi, i mean is there a way to do this.

Thanks

[2017-10-10 19:30] JKHeadley commented on #50
Feature added with #65

[2017-10-10 19:30] #50 closed

[2017-10-10 19:36] JKHeadley commented on #46
@tamias just pushed an update that includes [document-specific authorization](https://github.com/JKHeadley/rest-hapi#document-authorization).

Also, I provided an example of how to accomplish a task similar to your use-case mentioned in this issue. It takes advantage of the new policies feature.  Please see the docs [here](https://github.com/JKHeadley/rest-hapi#example-custom-authorization-via-pol

[2017-10-10 19:36] #46 closed

[2017-10-10 19:38] JKHeadley commented on #64
@parveen-oodles this feature is not currently supported, but will hopefully be added to a future version.

[2017-10-12 22:32] JKHeadley commented on #27
Added "add:pre" option in #66

[2017-10-17 19:07] murilo-campaner opened #67 "Converting circular structure to JSON"
Hello everybody.

I'm trying to duplicate my actual production environment to create dev environment in same server. But, when I access my dev environment I got the following error:

`Debug: internal, implementation, error
    TypeError: Uncaught error: Converting circular structure to JSON
    at Object.stringify (native)
    at Object.internals.paths.build.internals.paths.buildRoutes.internals.h

[2017-10-17 22:54] JKHeadley commented on #67
Hi @murilo-campaner, not sure if this is a rest-hapi specific issue, but I remember running into something similar earlier that was related to hapi-swagger.  Updating to the latest version of hapi-swagger fixed the issue.  If you use rest-hapi v0.27.3 and higher it uses an updated version of hapi-swagger that might help.

[2017-10-18 00:16] murilo-campaner commented on #67
Hello @JKHeadley! Thank you for your response!

I updated to rest-hapi v0.27.3 and now is all right, problem resolved! But... I got one another problem...

My server is running with nginx, and my api server is redirecting all HTTP requests to HTTPS. But, when I use swagger-ui to send requests, it give no response back and if I inspect in console, the requests is going by HTTP, not HTTPS.

<img wid

[2017-10-18 16:17] jobberwalker opened #68 "question: dynamic fields in model"
Hi,
I'd like to put some dynamic attributes to the model and I was thinking to use:

`attributes : [new mongoose.Schema({
        Name: {type: String},
        Value : {type: String}
    }, {strict: false})
    ]`

or even

`attributes : [mongoose.Schema.Types.Mixed]`

Is this something which is not recommended?

Thanks
JB

[2017-10-19 03:54] JKHeadley commented on #68
@jobberwalker I haven't tried those specific formats before, but they should work.  The only thing it might throw off would be validation.

[2017-10-19 03:54] #68 closed

[2017-10-19 04:05] JKHeadley commented on #67
@murilo-campaner not sure what's going on here, but I have a project using HTTPS with functioning swagger, so I do know it can work.  I'll try looking into it and see if I can find anything.

[2017-10-19 04:16] JKHeadley commented on #67
Also, I would suggest posting your issue on the [hapi-swagger page](https://github.com/glennjones/hapi-swagger/issues) as well, since this seems to be centered on that plugin.

[2017-10-24 19:01] JKHeadley commented on #5
Added through #71

[2017-10-24 19:01] #5 closed

[2017-11-03 07:13] rahil471 opened #72 "Allow, flexible object fields for models."
I have a requirement, where I want to allow the users of my service to input any data into my model. Some metadata.

I have tried using `Types.Mixed` and `Types.Object` to get past this, but when I make a request, rest-hapi says `key` is not allowed.
I think this was working uptil v 0.20, I recently updated to 0.33.

Thanks in advance.

[2017-11-05 10:07] rahil471 commented on #67
@JKHeadley  Do you have a project that uses Nginx proxy to redirect request on a path to your rest-hapi project port.
In my case, `https://host/services` proxys requests to  `https://host:8080`. In this case, everything works as expected apart from the swagger doc, all the swagger statics are fetched from `host/...` and hence are `404`.

Really not sure if it's a proxy issue or has something to do

[2017-11-05 10:15] rahil471 opened #73 "Handling duplicate entry error gracefully."
Hi, currently if there is an attempt of duplicate entry on unique keys, the system sends a 500 status with an Internal server error.
I'm thinking that we should handle this as a special case, coz in most cases the users of application would like to know that duplicate data is being inserted.

I suggest we should send a 409 Conflict with a duplicate content message.
Would like to hear your thoughts

[2017-11-06 00:56] JKHeadley commented on #72
@rahil471 fixed this issue in v0.33.5

[2017-11-06 01:43] #73 closed

[2017-11-06 01:54] JKHeadley commented on #73
@rahil471 I agree.  I added this feature to v0.34.0

[2017-11-06 04:11] kpfromer opened #74 "First time setup/Demo error"
I am trying to start up a basic rest-hapi example using your example code, but I am encountering an error. When I launch `./node_modules/.bin/rest-hapi-cli seed` I get this error:
[code]

[2017-11-06 11:49] parveen-oodles opened #75 "Where to find documentation for older version"
Hi JKHeadly,

I am just wondering to know where can i find the documentation for previous version of Rest-Hapi, like for example you changed param in Post and Pre of Create middle-ware , but what if somebody used older version as you updated the documentation so where i can find the older documentation for Middle-ware like i want to check the param which were send in say 0.23.2 version.
In the cha

[2017-11-06 13:53] rahil471 commented on #72
I tested this in v0.34. This is the error I still get.

`"value\" at position 0 fails because [child \"user.user_metadataCreateModel\" fails because [\"currency\" is not allowed]], \"userCreateModel\" must be an object`

[2017-11-06 13:55] rahil471 commented on #72
This is my defined model.

[code]

[2017-11-06 19:42] #74 closed

[2017-11-06 19:57] JKHeadley commented on #74
@kpfromer fixed this bug in v0.34.1

[2017-11-06 20:14] JKHeadley commented on #75
@parveen-oodles As you mentioned, you can view most of the changes in the changelog.
 Any breaking changes are noted there and changes to function calls/parameters should be [documented](https://github.com/JKHeadley/rest-hapi/blob/master/CHANGELOG.md#0200---2017-08-29-breaking)

Another option would be to view the history of the [Readme file](https://github.com/JKHeadley/rest-hapi/commit/9fc221cae

[2017-11-06 20:14] #75 closed

[2017-11-07 11:40] rahil471 commented on #72
@JKHeadley Should this be reopened?

[2017-11-07 15:17] JKHeadley commented on #72
@rahil471 could you provide an example payload?

[2017-11-08 01:29] JKHeadley commented on #67
@rahil471 I have not set up a project directly using Nginx, however, the project I mentioned above uses Cloudflare to redirect to rest-hapi, and I believe they use [Nginx](https://www.nginx.com/videos/cloudflare-boosts-performance-and-stability-for-its-millions-of-websites-with-nginx/) for reverse-proxying.

I will continue to look into this issue, but for now I suggest posting the issue on the ha

[2017-11-08 09:14] rahil471 commented on #72
Sure,

Here is an example request.

[code]

and this is the response.

[code]

[2017-11-09 08:51] JKHeadley commented on #72
Thanks @rahil471

I updated the bug fix.  Please try v0.34.3 to see if it works with your case.

[2017-11-09 10:53] rahil471 commented on #72
I think there is some problem with the new version. `rest-hapi` is not creating all the API's.
As soon as res-hapi got upgraded to `0.34.3` a lot of my APIs started responding with 404 (even the swagger doc is not listing all API's), reverting the version back to `0.34.0` solved that thing, I'll still check again and confirm.

[2017-11-09 11:00] JKHeadley commented on #72
@rahil471 we're there any errors when you started the server?

[2017-11-09 11:38] rahil471 commented on #72
Yes, there are errors but the app starts.
Here is the stack trace.

[code]

[2017-11-10 00:21] JKHeadley commented on #72
@rahil471 Thanks for the help and your patience with this. I added an updated fix to v0.34.4. Please try it and see if it works for you.

[2017-11-10 06:59] rahil471 commented on #72
I can confirm that the bug introduced coz of the attempted fix is fixed, but the original issue of **unknown fields still remains**.

@JKHeadley  No mention, I really love this framework and would love to contribute to it.
In fact, I have built an advanced user-management system on top of appy, with features like social-login, saml, ldap etc. I'll see if my employer allows me to make it open-sourc

[2017-11-10 07:51] rahil471 commented on #72
Hey @JKHeadley  my bad, I was checking in the wrong running instance.

The original bug of flexible/unknown object fields is fixed along with the bug introduced in the attempted fix.

One very minor thing, in swagger docs the fields defined as Object are shown as strings under example value.

Thanks for your prompt updates and efforts.

[2017-11-10 10:22] JKHeadley commented on #72
@rahil471 glad to hear it!  Thanks for pointing out the swagger issue as well.  I pushed an update to fix that for v0.35.0.

Thanks for your support.  Any contributions to rest-hapi or appy are well appreciated.  I'm especially interested to see your implementation of saml and ldap.  I'm currently working on a web front end for appy so hopefully soon it will provide a fully functional web app.

[2017-11-10 10:22] #72 closed

[2017-11-10 11:42] rahil471 commented on #72
@JKHeadley Sounds great. Looking forward to contributing to it.

Are you planning to make the web front-end opensource as well?

[2017-11-11 07:37] JKHeadley commented on #72
@rahil471 yes it will definitely be open source.  Looking forward to your contributions!

[2017-11-13 11:17] jobberwalker opened #76 "Policies & extraEndpoints"
Hello,
Is it possible to re-use the policies also for endpoints done as extraEndpoints ?
Thanks
Jb

[2017-11-13 13:06] Shashwat78 opened #77 "Authorization input box is not showing in rest-hapi API swagger UI"
![hapi1](https://user-images.githubusercontent.com/25928226/32727191-a4cf4aa2-c8a1-11e7-8c29-864f8cb5ff06.png)
#### Context

my package.json is look like

* *hapi-swgger version*:    "hapi-swagger": "^2.2.4",

all the api is creating automatically..so i don`t have any idea how can set Authorization in every api which is created automatically

i am using  "rest-hapi": "0.23.2"

please give me solut

[2017-11-14 00:45] JKHeadley commented on #76
@jobberwalker Yes this is possible.  I updated the [readme](https://github.com/JKHeadley/rest-hapi/blob/master/README.md#custom-endpoints) to show how this can be done.

[2017-11-14 00:45] #76 closed

[2017-11-14 05:12] JKHeadley commented on #77
hi @Shashwat78, you have to define an authorization strategy and then set `RestHapi.config.authStrategy` to the name of the strategy that you have defined.  You can check out [appy](https://github.com/JKHeadley/appy) for an example.

[2017-11-14 06:58] Shashwat78 commented on #77
Hi,

i am using 'hapi-auth-jwt2'
link is https://github.com/dwyl/hapi-auth-jwt2

what i need to do now

On Tue, Nov 14, 2017 at 10:42 AM, Justin Headley <notifications@github.com>
wrote:

--
[image: Oodles Technologies Pvt Ltd] <http://www.oodlestechnologies.com/>

*Shashwat Gupta ,* Associate Consultant Development, Oodles Technologies
Pvt Ltd
Phone:   +91 124 4368 395
Mobile:   +91 8826363799
Em

[2017-11-14 09:56] JKHeadley commented on #77
hapi-auth-jwt2 is your authentication scheme.  You now have to define an authentication strategy to implement the hapi-auth-jwt2 scheme.  You can see an example [here](https://github.com/JKHeadley/appy/blob/576fa097209896cb1355367497769b1f05d92e91/server/auth.js#L20) or in the hapi-auth-jwt2 docs.

[2017-11-20 21:22] drphelps opened #81 "Populate associations of embedded docs"
I'm not sure if this is a feature request or something that I'm not doing correctly. I would like to be able to populate associations of (deeply) nested embedded documents. For example, if I have a structure like the following where `child` is an embedded document and `grandChildren` are in their own collection, I'd like to be able to call an endpoint to populate the referenced `grandChildren` doc

[2017-11-20 22:35] JKHeadley commented on #81
Yes this should be possible.  Would you be able to post your model code here?

As a quick answer, if your models and associations are defined correctly you should be able to accomplish this with something like `GET /parent/1?$embed=child.grandchildren`

Please reference the docs on [populating nested associations](https://github.com/JKHeadley/rest-hapi#populate-nested-associations) for more info.

[2017-11-21 22:15] drphelps commented on #81
@JKHeadley, I realize I may have oversimplified my setup. Here are pared down versions of my schemas.
[code]
As you can see, `draft` is an embedded document and not an association itself. Hitting `GET /app/1?$embed=draft.pages.layout` throws "Association not found".

[2017-11-22 09:28] JKHeadley commented on #81
@drphelps Thanks for code, however this format does not seem to be following the requirements for rest-hapi associations, therefore the `$embed` parameter will not function correctly.  Please [reference the docs](https://github.com/JKHeadley/rest-hapi#associations) on how to set up associations between models.

[2017-11-22 16:21] drphelps commented on #81
Ok, thanks for your attention. I figured that would be the answer.

[2017-11-22 16:21] #81 closed

[2017-11-27 11:16] rahil471 opened #82 "Logging Transporters"
Hey there again.

Is there a way to configure the rest-hapi logger to use an alternate transport like file or database?

If not then could this be overwritten/ monkey patched outside the rest-hapi framework?

[2017-11-27 16:11] JKHeadley commented on #82
@rahil471 Hmm, that's an interesting question. For reference, the logging library being used is [loggin](https://www.npmjs.com/package/loggin). However I don't believe you can configure the internal logger for generated endpoints currently (besides the loglevel).

I would think your best bet would be to grab stdout and redirect it to your desired location.  For some of my projects I use the [forev

[2017-11-29 07:52] rahil471 commented on #82
Hmm correct, in that case, I'm using pm2. So I can grab the logs from there.  Thanks.

[2017-11-30 18:24] jobberwalker opened #83 "Policies do not run"
Hello,
I am wondering what I did wrong here because it doesn't enter the policy script. I took the appy demo with rest-hapi@0.37.1. Then added in config.js
`const config = {
  enablePolicies: true,
.....`

in user.model.js added :

` Schema.statics = {
    collectionName: modelName,
    routeOptions: {
      policies: {
        rootPolicies: ['addClient']
      },`

then in the root of the project

[2017-11-30 19:01] JKHeadley commented on #83
@jobberwalker make sure when you edit the appy config that you add the `enablePolicies` property to the `restHapiConfig` property of the root `config` object:

https://github.com/JKHeadley/appy/blob/576fa097209896cb1355367497769b1f05d92e91/config.js#L105

[2017-11-30 20:10] jobberwalker commented on #83
Thank you JKHeadley. I did it wrong adding in `config` section instead of `restHapiConfig`. Everything is working fine. ;-)

[2017-11-30 22:43] #83 closed

[2017-11-30 22:44] #82 closed

[2017-11-30 22:45] #77 closed

[2017-12-04 08:06] parveen-oodles opened #84 "Request object containing only few information in Create (Post) Middleware"
Hi JKHeadly,
As changes done by you in the "v0.20.0". You add request in the middleware:-

**post(document, request, result, Log)**

But as i printing this request object , i am getting only few things here not the whole object , i want to access the auth in this but unfortunately it not giving the whole request object.
So would  appreciate if you please let me know why this is happening or this i

[2017-12-05 00:08] JKHeadley commented on #84
@parveen-oodles I'm not sure whats going wrong with your code.  The model below works for me using v0.23.2

[code]

Which outputs:

[code]

[2017-12-05 22:02] tamias opened #85 "Support Mongoose's runValidators option"
I would like a way to specify Mongoose's `runValidators` option in rest-hapi's calls to `update()`, `findOneAndUpdate()`, and `findByIdAndUpdate()`:

http://mongoosejs.com/docs/validation.html#update-validators

In particular, I want Mongoose validation to occur when updating a document with rest-hapi's update handler.

[2017-12-06 06:27] parveen-oodles opened #86 "How can one reuse the function(simple javascript function) defined on one model into other"
Hi JKHeadly,

I just want to reuse one of my function written in one model.js file and i want to reuse the same in my other model.js , So how can i achieve the same. Like in nodejs we simply write at the end of file i.e:-
Suppose i  have a model user and there is one function test in user model . i want to call the same function test from my another file i.e employee. So i simply export in the use

[2017-12-08 06:37] JKHeadley commented on #86
Hi @parveen-oodles,

This can be done using mongoose static functions. For example, using the following model:
[code]

You can call the `test` function somewhere else like so:

[code]

[2017-12-08 06:37] #86 closed

[2017-12-08 06:39] JKHeadley commented on #4
Added with #79

[2017-12-08 06:39] #4 closed

[2017-12-10 10:21] mkg20001 opened #87 "Hapi 17"
Please add support for hapi 17

[2017-12-14 16:34] tamias commented on #85
As an example, here's a commit that hard-codes it in the update handler: https://github.com/pangeamedia/rest-hapi/commit/febaaabe4025139ab4f5ff6452bf321d69f79f94

To do a proper implementation, I'd want to have a name for the config setting, and to know which update calls should use it.

The config setting could be something like `enableMongooseUpdateValidation` or `enableMongooseRunValidators`.

[2017-12-16 08:43] JKHeadley commented on #87
@mkg20001 I would like to. I'm currently looking into this however it might be a while due to rest-hapi's dependencies on hapi plugins.

[2017-12-30 18:16] delateurj opened #88 "PUT on many to many updates existing rather than creating new"
Hi...I am finding this library very useful...found what is either an issue or misunderstanding on my part.
If I use the example and create a group document and then create a permission document and then use the PUT /group/{ownerId}/permission/{childId} to create a group_permission document, this works and a document is created in the group_permission collection.   However, if I attempt to create a

[2017-12-30 18:50] JKHeadley commented on #85
Hi @tamias

Sorry for the delayed response.  I like this idea. I don't have a lot of time to look into this right now, but I would expect for this feature only the calls within `utilities/handler-helper.js` should need to be affected by the new config setting.

[2017-12-31 05:33] JKHeadley commented on #88
Hi @delateurj, glad you are getting some use out of it!

Yes you have observed correctly. I agree it would be useful to be able to manage multiple link documents for two related documents using the generated endpoints. However this would certainly require more endpoints than what are currently generated, and I simply have not had enough time to give some serious thought on how to best implement th

[2017-12-31 05:58] delateurj commented on #88
Thanks for the quick response and your suggestion.  I'll let you know if I come up with any other ideas.
Regards,
Joe.

[2017-12-31 05:58] #88 closed

[2018-01-09 15:32] tamias commented on #85
Here's a PR: https://github.com/JKHeadley/rest-hapi/pull/89

[2018-01-17 04:38] arunkatariaoodles opened #91 "How can we perform API versioning"
I am using your rest-hapi module of 0.23.2 version and stuck in versioning the API, So please guide me, how can I perform versioning in this module.

[2018-01-18 23:33] JKHeadley commented on #91
Hi @arunkatariaoodles, you can set the api version with the `config.version` property.

[2018-01-19 05:48] arunkatariaoodles commented on #91
Hi @JKHeadley, as if i use ExpressJs, in that case, I can use "http://localhost:9000/V1/user" get API in version 1 and if I will update some changes in user API version 2 I will use this "http://localhost:9000/V2/user" so in that case, I can use both the API just by changing V1 to V2. So is there any option so that I can use Rest-Hapi get API with V1 to V2.

[2018-01-22 22:20] JKHeadley commented on #91
@arunkatariaoodles unfortunately this feature doesn't exist currently, however I'm open to adding it in the future.

[2018-01-22 22:21] #85 closed

[2018-01-26 05:37] jadgsam opened #92 "http://localhost:8124/ does not work"
Hi,
I know this is a very basic question but I am following instructions and after making the first node api.js I cannot access the swagger docs.

jadsam@Joses-MacBook-Pro:~/Documents/VM/VMD$ node api.js
[02:05:17.473] 25990 LOG      api/mongoose — Connecting to Database...:
[02:05:17.479] 25990 LOG      api/mongoose — 	URI: `mongodb://localhost/rest_hapi`
[02:05:17.490] 25990 LOG      api — Initi

[2018-01-29 22:44] JKHeadley commented on #92
hi @jadgsam would you mind posting your `api.js` code here? That could give more context into what might be going wrong.

[2018-01-30 05:13] anhbinhvodanh commented on #92
@JKHeadley I got same error when use api.js in your document.

[2018-01-30 06:03] JKHeadley commented on #92
@jadgsam  @anhbinhvodanh apologies, looks like the docs were a bit out of date. Please try the updated code below with the port defined directly:

[code]

[2018-01-30 09:07] jadgsam commented on #92
Thanks for your answer, now it works

[2018-01-30 09:07] #92 closed

[2018-01-31 09:17] jadgsam opened #93 "Model definition and optional fields"
Hi @JKHeadley,
I was wondering if the model definition supports adding optional fields (no matter what type they are) in order to allow the consumer of the service not sending some of the fields.

Please let me know if there is any way to setup this in the model definition.

Thanks for your support

[2018-01-31 20:22] JKHeadley commented on #93
Hi @jadgsam,
If I understand you correctly, I think you can use [route validation](https://github.com/JKHeadley/rest-hapi#route-validation) to accomplish this. For example, setting `allowOnRead` to `false` will prevent a user from receiving a certain field on any `GET` request.

[2018-02-01 08:31] jadgsam commented on #93
Hi @JKHeadley,
Excellent thanks for your feedback, the section route validation was exactly what I was looking for.

[2018-02-01 08:31] #93 closed

[2018-02-01 09:37] jadgsam opened #94 "Nested associations using User and Group Models"
Hi @JKHeadley,
I would appreciate your advice to redefine the user and group model associations. My goal is to define **Groups** for "Companies", "Consumers" and "SysAdmin". It means I will have **Companies** with many **Consumers** and many **Consumers** belonging to many **Companies**. At the end, we are talking about having **Users** associated with a **Group** (Consumer or Company). However, i

[2018-02-06 18:42] JKHeadley commented on #94
Hi @jadgsam,
I'm having some difficulty understanding your goal. It sounds like you need to make 4 models: **Company**, **Consumer**, **SysAdmin**, and **User**. You have defined that a Company can have many Consumers, so that will be a one_many/many_one association. If I understand you correctly, then it sounds like it would be best for you to treat **Company**, **Consumer**, and **SysAdmin** as

[2018-02-06 19:39] JKHeadley opened #95 "add $embed-select query option"
Add functionality to select/filter which fields to return with an $embed.

[2018-02-08 08:54] jadgsam commented on #94
Thanks for your feedback, I was also doing some other tests by following a different approach but I will compare against yours.

[2018-02-18 01:16] JKHeadley opened #96 "Add "onDelete" option for associations"
"RESTRICT"|"CASCADE"|"SET NULL" - specifies how foreign keys should behave when referenced object is deleted

[2018-02-18 02:48] JKHeadley opened #97 "Refactor using 'async/await'"
Should help convert to Hapi 17

[2018-02-25 10:17] JKHeadley opened #98 "Authorize/restrict $embed by association scopes"
A user should not be able to $embed an association if they don't have access to read/GET the association endpoint.

[2018-02-27 08:49] JKHeadley opened #99 "Update middleware to accept array of functions and exist inside "routeOptions.middleware" property"

[2018-03-06 11:44] arunkatariaoodles opened #100 "How to define indexs in rest-hapi schema?"
Hi,
I want to define indexes in a rest-hapi schema. In ExpressJs we have to define indexes in the schema like that:-
var userSchema = new Schema({
name: String,
location: {
       type: {type: String},
       coordinates: []
   } // field level
});
userSchema.index({ location: '2dsphere' }); // schema level

[2018-03-07 08:42] JKHeadley commented on #100
Hi @arunkatariaoodles

Indexes are handled with mongoose. Here's an example via their [docs](http://mongoosejs.com/docs/guide.html):

[code]

[2018-03-07 11:20] arunkatariaoodles commented on #100
Hi @JKHeadley
Yes indexes are handled in mongoose, But when I am defining the schema in rest-hapi like that:

`module.exports = function(mongoose) {
    var modelName = "user";
    var Types = mongoose.Schema.Types;
    var Schema = new mongoose.Schema({
        name: {
            type: Types.String,
        },
        location: [{
            type: {
                type: Types.String,

[2018-03-07 19:00] JKHeadley commented on #100
You could try:

[code]

[2018-03-12 12:52] arunkatariaoodles commented on #100
I had tried this it will show this error " planner returned error: unable to find index for $geoNear query"  while fetching the user data. And after executing "db.user.ensureIndex( { "location.0" : "2dsphere" } )" this query on shell it will work. I don't want to run this query, it should automatically ensure the index once the data is created.

[2018-03-15 18:21] JKHeadley commented on #100
Hmm, I'm not sure where the error is coming from, but unfortunately I think it's more related to mongoose or mongo than rest-hapi. Maybe try checking their issues? I can tell you that I've successfully used the code above on several of my own projects. Best of luck.

[2018-03-15 18:21] #100 closed

[2018-03-16 05:45] arunkatariaoodles commented on #100
Ok, thanks for your support.

[2018-03-18 04:04] kpfromer commented on #99
What might the structure look like @JKHeadley? Something like the following?
[code]

[2018-03-18 22:22] JKHeadley commented on #99
@kpfromer I'm picturing something similar, like so:

[code]

Where the `pre` and `post` properties could accept and array of functions or just a single function. In the case of an array of functions, each function would receive as parameters the modified parameters of the previous function.

[2018-03-30 02:54] kpfromer commented on #99
So I have been working on the issue and have encountered some questions I would like @JKHeadley to answer if possible.

1. Take list.pre for example. When a user provides a list of functions, I assume that the returned `query` should be provided for the next function with unchanged `request` and `Log`. Is this assumption correct?
2. How might a function array work for the delete pre and post middl

[2018-03-30 14:35] JKHeadley commented on #99
One other note. If possible it would be best for now to leave the previous (deprecated) middleware functionality along with the new functionality since this is a rather large breaking change.

If that turns out to be too much work then don't worry about it, that's why we're still v0 :)

[2018-04-01 03:00] kpfromer commented on #99
I have created some helper functions for the handler-helper file. I would like to extract these functions, which resided in the handler-helper file, in order to make testing, using the Sinon spy, easier. My question is where and what should this "handler-helper-helper" file be called? Do I even need to extract functions for spying?

[2018-04-04 01:46] JKHeadley commented on #99
Hi @kpfromer, great question. You do not need to extract functions in order to test them. For consistency I would leave you helper functions in the file for now. There are already a few functions like this (for example: [_setAssociation](https://github.com/JKHeadley/rest-hapi/blob/7ac7b899d470fd3178002b64695cef2a06ab2244/utilities/handler-helper.js#L1539) and [_removAssociation](https://github.com

[2018-04-13 19:17] tamias opened #102 "Associations within subdocs?"
(This is more of a question than an issue, but it could turn into an issue.)

Is it possible, in rest-hapi, to have an association within a subdocument?

For example, I can do this in Mongoose, where the association is at `subdoc.pets`, instead of being at the top level of the document:

[code]

If it were at the top level, I would implement this in rest-hapi by adding an association under routeOp

[2018-04-13 21:39] JKHeadley commented on #102
It might be possible to accomplish something like this using rest-hapi, but it would be more of a hack since it is not part of the intended functionality.

However, keep in mind that rest-hapi is built on top of Mongoose, so you can still take advantage of populating docs directly.

[2018-04-18 13:29] tamias commented on #102
A  quick followup.  The difficulty I'm running into is that if I want to call `.populate()` myself, I can't use Rest-Hapi's handler helpers in that flow, because they all call `.lean()`.  The solution we went with for now is to call `RestHapi.find()`, then retrieve the associated documents with a separate query and populate them manually.

It would be great if there were some way to specify an emb

[2018-04-18 22:45] JKHeadley commented on #102
@tamias thanks for pointing this out. I agree! I think I'll add two more feature requests: one to have an option of disabling `.lean()` and one for populating subdocs.

[2018-04-18 22:47] JKHeadley opened #103 "Add option to disable call to .lean() in handlers"
Possibly through a `{ $lean: false }` parameter.

[2018-04-18 22:50] JKHeadley opened #104 "Add option to populate subdocs"
Via [this comment](https://github.com/JKHeadley/rest-hapi/issues/102#issuecomment-382386363)

[2018-04-22 15:29] harrydeluxe opened #105 "Virtual Fields"
Hi,
Is it possible to use virtual Fields?
[code]

[2018-04-24 19:17] duartealexf opened #106 "Error 413 - Payload too large"
I'm getting this error on some of my POST requests. How do I increase the max payload size to all routes?
Thanks.

[2018-05-10 04:36] JKHeadley commented on #105
Hi @harrydeluxe, sorry for the delay. So I suppose the answer here is yes and no. Yes virtual fields are supported since mongoose schemas are used. However, currently all results from rest-hapi functions have `.lean()` applied to them, which disables virtual fields. Hopefully in the near future we can add a config options to disable/enable applying `.lean()` to the queries.

[2018-05-10 04:44] JKHeadley commented on #106
Hi @duartealexf, sorry for the delay. Currently there isn't an option to configure the max payload size for auto-generated routes. I'll add this as a requested feature. In the meantime I would suggest creating [custom endpoints](https://github.com/JKHeadley/rest-hapi#standalone-endpoints) for those routes that are having issues.

[2018-05-10 04:45] JKHeadley opened #107 "Add option to edit max payload config for routes."
See #106

[2018-05-13 08:52] klishevich opened #108 "Error when starting rest-hapi plugin: Cannot set property 'Promise' of undefined"
I tried for two hours to start rest-hapi demo project, but failed. Maybe I missed something. Would appreciate help.
When `node api.js` get error:
[code]

My `package.json`
[code]

My `api.js`
[code]

P.S. Also tried with canonical example from docs it does not work as well.

[2018-05-14 19:09] JKHeadley commented on #108
Hi @klishevich, the `package.json` and `api.js` files you posted don't match the `rest-hapi-demo` files. Are you sure you posted the right files (the `package.json` you posted doesn't have a dependency on `rest-hapi` for instance)? I tested the `rest-hapi-demo` project and it seems to be working fine.

[2018-05-15 03:39] klishevich commented on #108
@JKHeadley sorry my bad, copy pasted wrong file. I updated `package.json` it the issue and this is the link for GitHub repo with my test project - https://github.com/klishevich/a_learn/tree/master/rest-hapi_test

[2018-05-21 21:18] tkvw commented on #97
Hello Jusin,

I stumbled on this library when testing Hapi and I think it looks really nice! Can you give an update about the progress to update to Hapi 17? I see there's a `refactor/async_await` branch where you've done some recent work. Is there still a lot of work left? Can I be of some assistance?

[2018-05-21 21:34] JKHeadley opened #109 "replace gulp with npm scripts"

[2018-05-21 21:43] #87 closed

[2018-05-21 21:45] JKHeadley opened #110 "clean up code/refactor architecture"

[2018-05-21 21:52] JKHeadley commented on #97
Hi @tkvw, thanks! I'm working on a major version update that includes Hapi 17 support, the `develop` branch has most of the recent updates. I hope to finish the `async/await` updates soon. If you'd like to contribute you can take a look at the [remaining tasks](https://github.com/JKHeadley/rest-hapi/milestone/9) and see if anything interests you. I'm always open to help (or suggestions)! 😉

[2018-05-21 22:26] tkvw commented on #97
Thanks for the (quick!) update, what `develop` branch do you mean? I see recent activity on the `master`, `refactor/async_await` and `refactor/eslint_prettier` branches. The `development` branch is far behind `master`. Before helping I'll try out the library some more and hope I can give some suggestions/pr's.

[2018-05-21 23:02] JKHeadley commented on #97
Apologies, it looks like I forgot to push the `develop` branch to origin. It should be available now. That sounds like a good plan. I'll look forward to hearing back from you.

[2018-05-22 15:50] JKHeadley opened #111 "replace Q with es6 Promise"

[2018-05-23 09:30] #97 closed

[2018-05-23 16:32] lucarp opened #113 "RouteScope.readAuth property causes an unexpected behaviour in Swagger."
If I set up `routeOptions.readAuth: false` inside a model, Swagger stops requiring authorisation header for many other routes. Not only in GET, but in POST and PUT as well..

Is there anyone else having this problem??

[2018-05-24 07:24] #111 closed, assigned to nobody

[2018-05-24 07:26] JKHeadley commented on #97
Finished with cefa439eb6823000818381a25cec3f4fa03b15af

[2018-05-24 07:26] JKHeadley commented on #87
Finished with f3339a9bee6740c0d3ffb78fdcd858d170e24711

[2018-05-26 08:30] shiva opened #114 "Support for hapi 17"
Hapi 17 included a set of breaking changes. Is there support planned for making rest-hapi compatible with latest hapi version?

[2018-05-26 08:42] JKHeadley commented on #114
Yes, Hapi 17 support will be part of the [v1 release](https://github.com/JKHeadley/rest-hapi/milestone/9).

[2018-05-26 16:36] shiva commented on #114
Is there anything I can do to help?

[2018-05-26 16:37] JKHeadley opened #115 "Support sub-directories underneath api/models directory"
See https://github.com/JKHeadley/appy/issues/1

[2018-05-26 16:54] JKHeadley commented on #114
I appreciate the offer! I expect to finish the updates within the next few days. I'm always open to contributions however I would advise to wait for the next release due to all the changes.

[2018-05-26 17:35] shiva commented on #114
understand. Thanks.

[2018-05-26 17:35] #114 closed

[2018-05-26 22:34] #110 closed

[2018-05-27 04:14] JKHeadley opened #117 "Update Readme for v1"

[2018-05-27 07:31] #117 closed

[2018-05-27 07:41] JKHeadley commented on #60
Opted for [standard](https://standardjs.com/) as primary style guide due to the ease of use with eslint and prettier.

[2018-05-27 07:41] #60 closed

[2018-05-27 08:27] JKHeadley opened #120 "1.0.0 Release Notes"
**rest-hapi** v1.0.0 is finally here and comes with a few major updates, the most important of which is the addition of [Hapi 17](https://github.com/hapijs/hapi/issues/3658) support. The code has been cleaned up, re-organized, and optimized. All code commits now have to pass eslint checks and are automatically styled using [prettier](https://prettier.io/), and code coverage reports are integrated

[2018-05-27 08:27] #120 closed

[2018-05-27 09:04] JKHeadley commented on #108
@klishevich rest-hapi v1.0.0 is now available with Hapi 17 support.

[2018-05-27 09:04] klishevich commented on #108
@JKHeadley thanks!

[2018-05-27 09:06] JKHeadley commented on #114
@shiva Hapi 17 is now supported with rest-hapi v1.0.0

[2018-05-27 21:02] shiva commented on #114
Awesome! That was fast and thanks

[2018-05-29 13:41] tkvw opened #121 "Typescript bindings"
Any plans on creating some typescript bindings for rest-hapi?

[2018-05-29 16:36] JKHeadley commented on #121
I haven't looked into it yet but I'm open to the idea.

[2018-05-30 00:22] sustained opened #123 "Some questions."
This looks fantastic, great work! :open_mouth: Definitely going to give this a try.

Just have a few questions.

- Are any large/notable projects/products using this in production yet, if so what?
- Does this have any commercial backing of any kind?
    - If not, are you (lead dev(s)) part of a company which are "dogfooding" this?
    - If not, do you have a Patreon campaign (or anything of that n

[2018-06-01 07:29] JKHeadley commented on #123
Hi @sustained, thanks for the interest! I'll try to answer your questions to the best of my ability.

There are a few projects I have worked on for clients that are founded on rest-hapi. Most of them are most likely still in the mvp stage. I would say the [divy app](http://divyrewards.com/) is probably the most 'mainstream' project using rest-hapi.

There currently isn't any commercial backing for

[2018-06-09 23:30] shiva opened #125 "Access to model from a custom endpoint handler"
the model is an internal property of rest-hapi. How do I get access to a populated model ? generateModels is mutable and seems to re-load the models.

I'd think this is required in order to invoke any of the CRUD methods on restHapi.

[2018-06-10 04:02] JKHeadley commented on #125
I usually access the models using the `mongoose.model` function, something like:
[code]

Is that what you are referring to?

[2018-06-10 08:01] shiva commented on #125
Thanks. How very dumb of me. :)

[2018-06-16 19:03] #125 closed

[2018-06-17 11:47] JKHeadley commented on #64
I like the idea of creating a new `PUT /model` endpoint that mirrors the functionality of the mongoose [findOneAndUpdate](http://mongoosejs.com/docs/api.html#findoneandupdate_findOneAndUpdate) function. Basically the endpoint would accept a query filter (same as the `GET /model` endpoint) and the first document found would be updated. Also, an `$upsert` query param could be supported that would af

[2018-06-26 12:31] Antonhansel opened #127 "Support DB other than mongo ?"
Great tool, could the mongoose driver be swapped for sequelize for example ?
Is it a feature you're looking for or is it against the principles of react-hapi ?

[2018-06-26 12:36] JKHeadley commented on #127
@Antonhansel Thanks for the interest! This would be an awesome feature, and it is one I have had on the todo list since the beginning. Unfortunately it would be a major undertaking since the code is currently tightly integrated with mongoose. Hopefully if there is enough interest this could be added in the next version.

[2018-06-26 17:51] ChicagoDave opened #128 "Windows Error"
**Describe the bug**
C:\projects\git\rest-hapi-demo>npm start

[12:47:26.046]  2872 LOG      api/mongoose-init — Connecting to Database...:
[12:47:26.056]  2872 LOG      api/mongoose-init —       URI: `mongodb://localhost:27017/rest_hapi`
[12:47:26.066]  2872 LOG      api/mongoose-init — mongoose connected
[12:47:26.067]  2872 LOG      api — Initializing Server...
(node:2872) DeprecationWarning: `

[2018-06-26 17:58] JKHeadley commented on #128
@ChicagoDave did you seed the models directory by running:
[code]
?

[2018-06-26 20:57] Asuza commented on #127
I'm interested in support for other databases. PostgreSQL, if possible. Mongo is a complete deal-breaker for me, unfortunately.

[2018-06-27 22:03] kboger opened #129 "Rest-Hapi work with MSSQL?"
Does Rest-Hapi work with mssql databases?

[2018-06-27 22:09] aheadley23 commented on #129
no it does not

[2018-06-27 22:50] JKHeadley commented on #129
Not currently, but we hope to in the future.

[2018-06-28 07:41] SukantGujar opened #131 "Support for binary content management, aka Storage"
**Is your feature request related to a problem? Please describe.**
Support for managing binary content via GridFS should be available in rest-hapi, much like the [Storage component](https://loopback.io/doc/en/lb2/Storage-component.html) in Loopback.

**Describe the solution you'd like**
rest-hapi can have builtin models and endpoint to store binary content backed by GridFS. This model can then be

[2018-06-28 07:44] SukantGujar opened #132 "rest-hapi plugins support/docs"
**Is your feature request related to a problem? Please describe.**

Loopback provides a rich plugin framework, resulting in cherry picked enhancements to the core offering. If rest-hapi has a similar mechanism, the docs should be written around it. If its not there yet, are there any plans for it?

[2018-06-28 07:56] JKHeadley commented on #132
@SukantGujar Currently all rest-hapi features are included as part of the core library, and can either be enabled or disabled through the [config settings](https://resthapi.com/docs/configuration.html)

However I would prefer for it to be structured as you describe, as it is much more flexible/modular. Hopefully in a future release this can be accomplished.

[2018-06-28 11:03] SukantGujar opened #133 "Recover soft-deleted items"
**Is your feature request related to a problem? Please describe.**
Aside from serving as an archival process, soft-deletion also helps perform a recovery of the deleted data. Would an update query work on soft-deleted items to remove the deleted flag? Or would it require a MongoDB update?

**Describe the solution you'd like**
The update method can accept a flag to include soft-deleted items. This

[2018-06-28 20:12] JKHeadley commented on #133
@SukantGujar currently this require's a MongoDB update.

I agree this feature is needed, however I'm not sure if it should be included within the update endpoint since that would also allow documents to be 'deleted' through update.

I feel the best way would be to add a `recover` payload option to the `DELETE` endpoints. Similar to how the  [`hardDelete`](https://resthapi.com/docs/soft-delete.html

[2018-06-29 01:56] SukantGujar commented on #133
It might be a bit counter intuitive to use DELETE to recover a doc, but maybe it will make sense in the long run.
How about an explicit `POST /recover` endpoint in each model when soft-delete is enabled?

[2018-06-29 04:59] JKHeadley commented on #133
@SukantGujar hmm, so you mean something like:
`POST /user/{_id}/recover` ?

[2018-06-29 07:30] SukantGujar commented on #133
Yes

  On Fri, 29 Jun 2018 at 10:29, Justin Headley<notifications@github.com> wrote:
@SukantGujar hmm, so you mean something like:
POST /user/{_id}/recover ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-29 09:35] JKHeadley opened #134 "Support GraphQL"

[2018-06-29 10:09] JKHeadley commented on #134
Ideas:
- Auto generate subscriptions based on actions

[2018-06-29 10:59] SukantGujar commented on #134
One option could be similar to https://github.com/yahoohung/loopback-graphql-server, which generates graphql schemas manually from the loopback models. This project is very complete, contains ACLs, Subscriptions and Mutations too.

Or you might want to look at https://github.com/yarax/swagger-to-graphql, which generates models using swagger.json. Don't think it has subscriptions.

[2018-07-02 09:24] Dung-Nguyen opened #135 "Change directory of modelPath"
The configuration have a property to customize the models route:

const hapiConfig = {
  appTitle: 'example',
  absoluteModelPath: true,
  modelPath: 'server/models',
  mongo: {
    URI: 'mongodb://localhost:27017/example'
  }
}

RestHapi.config = hapiConfig

await server.register({
  plugin: RestHapi,
  options: {
    mongoose
  }
})

But when run seed or server, i have received message:
"api/mod

[2018-07-03 06:58] SukantGujar commented on #133
I am trying to implement this. This is the first time I am working on anything Hapi, so going really slow :). Couple of things:

1. Introduced two new config options: `enableRecoveryOfSoftDeletedItems` and `softDeletedRecoveryEndpoint`. The first one controls whether recovery endpoints are available and the second option controls the name of this endpoint, defaults to `recover` (POST /{modelname}/

[2018-07-03 07:06] SukantGujar opened #136 "Support OPTIONS and HEAD verbs"
**Is your feature request related to a problem? Please describe.**
For integration with upstream/downstream systems, a model's `OPTIONS` endpoint might need to be customized, say to allow a different CORS response.

`HEAD` would complete the support for all "read" verbs. It just needs to return what `GET` will return, minus the payload.

[2018-07-03 21:12] JKHeadley commented on #135
Hi @Dung-Nguyen,

When you set the absolute model path, you have to provide the full path, so maybe try changing this line:
[code]
to this:
[code]
or something similar.

[2018-07-12 20:02] JKHeadley opened #138 "Support JSON API sepcification"
http://jsonapi.org/

[2018-07-12 20:17] JKHeadley opened #139 "Implement Transactions"
http://mongoosejs.com/docs/transactions.html

[2018-07-21 00:35] JKHeadley opened #140 "Refactor functions to use default parameters/options object"
See: https://gist.github.com/ericelliott/f3c2a53a1d4100539f71

## Advantages

See: https://medium.com/javascript-scene/you-might-not-need-typescript-or-static-types-aa7cb670a77b

- autocomplete and type inference with most IDEs
- doesn't require passing Log objects for every call (although it's encouraged)
- other non-required parameters (such as `query`) can be omitted
- much easier to add/modify

[2018-07-25 06:09] bmgdev commented on #120
have you found a workaround for a global cors setting?   https://github.com/hapijs/hapi/issues/3658#issuecomment-398804025

[2018-07-25 18:32] JKHeadley commented on #120
@bmgdev I haven't yet unfortunately.

[2018-07-28 09:07] 1change opened #141 "Sample unit test for model"
**Is your feature request related to a problem? Please describe.**
I'm new to Hapi & mongoose and trying to setup unit test for some model I define with Jest, but having found no references on google how to do it properly, so running into some sort of trial and error to make it work.

**Describe the solution you'd like**
One sample unit test where you could run CRUD or call method in a model

**De

[2018-07-28 09:21] 1change commented on #141
When I tried to setup a globalSetup (instead of BeforeAll). It caused an issue like below. It seems mongoose don't store the models in globalSetup

[code]

[2018-08-20 18:52] JKHeadley commented on #141
Hi @1change, sorry for the late response, life has been busy lately.

Glad you got a working example. For your 'globalSetup', are you trying to run an external setup script (like the `setup.js` you mentioned)? I believe after you register the rest-hapi plugin you need to pass the `Mongoose` instance back to your test script instead of using a separate `require('mongoose')`. So maybe something like

[2018-08-20 19:51] 1change commented on #141
Hi @JKHeadley, thx for taking the time. Yes beforeAll won't call server every time but in every testspec, so having a globalSetup would help.

[2018-08-21 04:31] shiva commented on #64
@JKHeadley I am starting work on this. Can you assign this to me? Starting with changes to handler-helper, and building up to supporting as described here.

[2018-08-21 04:36] shiva commented on #64
Also, we can't simply pass the operation through, especially if the goal is to leverage findOneAndUpdate. All rest-hapi "features" i.e authorization/payload validation etc are performed before the call to handler-helper.js. In addition, upsert requires "read", "create" and "update" privileges.

Option 1: If and only if all three authorization checks (ie. query, create and update) pass, upsert is a

[2018-08-21 05:35] shiva commented on #64
First commit towards this is in! https://github.com/shiva/rest-hapi/tree/feature/upsert Feel free to provide comments.

[2018-08-21 06:40] JKHeadley commented on #64
@shiva Thanks for jumping on this. Unfortunately I [can't assign issues to non-collaborators](https://github.com/isaacs/github/issues/100).

You are correct, the best approach seems to be to create new `upsert` handler, factory functions, and validation functions.

As far as authorization goes, from a high level standpoint I would say the user should have to pass a `read`, `update`, and `create` c

[2018-09-12 16:30] jlconrad3 opened #143 "Stand-alone Endpoint not working in Chrome"
**Describe the bug**
I am trying to deploy a stand-alone endpoint, but no matter what I try, the endpoint fails when invoked from Google Chrome because of cors issue.  It works fine from Postman.

Error Message in Chrome:
Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://todolistapipurecloud

[2018-09-13 22:29] gpicazo opened #144 "MongoError: password cannot be empty"
**Describe the bug**
Since I am am not running mongodb locally, I have created a db on my mlab account and am trying to seed it via the `./node_modules/.bin/rest-hapi-cli seed <my mlab db URI>` command. Collections are created successfully, but data is not seeded, as there is an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an mlab account, create a test database and database

[2018-09-13 23:02] JKHeadley commented on #143
@jlconrad3 I'm having difficulty replicating your issue. My attempts to access your endpoint through Chrome have been successful. It seems that you have CORS correctly configured. Perhaps there's something wrong with your request? Here's the info from an OPTIONS request:

[code]

[2018-09-13 23:19] jlconrad3 commented on #143
😱

I might die.  I'm so thankful you looked at this for me, but I'm super
embarrassed that this was the real issue.

I built a "GET" method, by the code I wrote was a "POST".  Changed it, and
immediately the page built perfectly.

$.post({url: "https://integrationshub.herokuapp.com/collection/"+collection,
contentType: "application/json; charset=utf-8"})

Here's my crude web form dynamically gener

[2018-09-13 23:38] JKHeadley commented on #144
@gpicazo I tried creating a new mlab db and was unable to replicate your issue. However I'm using macOS instead of windows so that could be the issue.

Have you tried starting your server and testing the endpoints through the swagger UI? If all is working you should be able to create a user manually.

[2018-09-22 12:02] mkg20001 opened #145 "Security vulnerability in rest-hapi > loggin > glob > minimatch, modules needs updating"
**Describe the bug**
There is a module that needs updating in order to patch a vulnerability

**Additional context**
[code]

Additionally I would recommend setting up https://snyk.io/ or similar to automatically get PRs with fixes for such vulns.

[2018-09-28 19:09] JKHeadley commented on #145
Thanks! Hopefully I can look into this soon.

[2018-10-02 13:18] vinaybedre opened #148 "Sorting, filtering and term search for a nested property not working"
**Describe the bug**
Sorting, filtering and term search for a nested property not working

**To Reproduce**
Steps to reproduce the behavior:
See the JSON model at http://www.objgen.com/json/models/6mT5A and the way how it works in MongoDB in images attached.
Properties inside array are specified with .(dot) notation. It works for both filter, projection and sorting too

**Expected behavior**
Sorti

[2018-10-04 19:50] JKHeadley commented on #148
Thanks for adding this! I haven't had a lot of time to work on the project lately but I will certainly try to attend to this at some point.

[2018-10-08 10:21] mikaoelitiana opened #149 "Array of strings not working"
**Describe the bug**
I am creating a model with an array of string as one of it's properties but I can't insert data there.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a model with one properties as an Array of String
[code]

2. Try to insert some data like

[code]

3. A `400` status code is received :

[code]
**Expected behavior**
Tags data should be inserted

**Screenshots**

*

[2018-10-09 05:07] JKHeadley commented on #149
@mikaoelitiana thanks for pointing this out. I'll try to look into it soon.

[2018-10-18 14:49] mkg20001 opened #150 "Loggin (among other issues) has a security vulnerability and hasn't been updated in 3 years. Possibly replace it?"
There is a security vulnerability in loggin because it uses a vulnerable version of minimatch.
It has not been updated in the last 3 years and still uses gulp for all release tasks so I'm assuming it won't get an update.
Additionally it also uses the now-replaced raven package instead of "@ sentry/browser" package

Could this module get replaced with some proper, more common logging library such a

[2018-10-18 15:30] mkg20001 commented on #150
I've also created a pr to fix those issues, but depending on something with issues that hasn't been actively maintained in the last 3 years isn't the best idea.
https://github.com/fistlabs/loggin/pull/45

[2018-10-18 20:20] JKHeadley commented on #150
@mkg20001 Totally agree with this. Loggin served its purpose well but it would be good to replace it with something more supported.

The only issue I see here is that it will be a large undertaking. Unfortunately logging is pretty embedded into the code. Ideally rest-hapi could provide a custom logging module/interface that could support the logging module of choice by the dev. I'll add this as a

[2018-10-18 20:23] JKHeadley opened #152 "Logging Module"
**Is your feature request related to a problem? Please describe.**
Logging should be more flexible and ideally the developer should be able to choose which logging module to implement.

**Describe the solution you'd like**
Support a generic logging module that provides default functionality (through a supported third part logging module), but also allows the dev to plugin their logging module of c

[2018-10-20 11:16] mkg20001 commented on #150
I've released a quick'n'dirty update of loggin that seems to work fine (only 2 tests broken, mainly because of the switch from raven to sentry-minimal which doesn't have a full SDK). Maybe cherry-picking [this commit](https://github.com/mkg20001/rest-hapi/commit/7011928544a3b78956b0194e3c50976ef3c36844) would be a good idea to fix the vulns for now (after #146 has been merged)

This would be great

[2018-10-21 20:31] JKHeadley commented on #150
@mkg20001 Yes I think that would be the best option.

[2018-10-24 17:42] chrisbrooksca opened #153 "DynamoDB"
Hey folks... I'm really curious about this library (thanks for your hard work!). I'm wondering if any of you have tried this with AWS DynamoDb instead of MongoDB? If not, based on your knowledge, would you see this being difficult?

[2018-10-25 17:41] JKHeadley commented on #153
Hi @chrisbrooksca thanks for your interest! Unfortunately MongoDB is the only supported db for now. Currently the code is heavily integrated with mongo/mongoose so it will take some effort to support more db options. However it is a goal for future versions to provide a generic interface that will support multiple db options.

[2018-11-03 15:57] mkg20001 commented on #152
I just found this: https://github.com/pinojs/hapi-pino#usage
![screenshot](https://user-images.githubusercontent.com/7735145/47954329-6999c980-df89-11e8-89f6-3ca1a590af1d.png)

Apparently there is already a standard way of logging in hapi

[2018-11-04 15:26] TheoVitkovskiy opened #155 "Many-many association on the same model (like user_user) doesn't work"
The document inside the user_user collection only contains **one user field**. Should it not contain two user fields?

Steps to replicate the issue:
1. Create two users. (POST /user)
2. Add the second user as a friend of the first one. (POST /user/{firstUserId}/user) { childId: secondUserId })
3. Get the friends of the firstUser. (GET /user/{firstUserId}/user)
4. The response object is empty. No f

[2018-11-05 05:53] JKHeadley commented on #155
Hi @TheoVitkovskiy, I've been super busy lately but I will try to look into this. In the meantime, would you mind posting your code for the `user` model?

[2018-11-05 05:55] JKHeadley commented on #152
hapi-pino looks like a solid option for sure. Need to look into the features for the hapi logger. Nice find!

[2018-11-05 08:42] TheoVitkovskiy commented on #155
Hi @JKHeadley, for this I just used the example from the documentation https://resthapi.com/docs/associations.html. You find it under the Linking Models section. In my specific use case I'm doing the same, but with book sections. Here is my code for the `section` model.
 `
module.exports = function(mongoose) {
    const modelName = 'section';
    const Types = mongoose.Schema.Types;

    const Sch

[2018-11-05 08:46] TheoVitkovskiy commented on #155
function(mongoose) {
    const modelName = 'section';
    const Types = mongoose.Schema.Types;

    const Schema = new mongoose.Schema({
        book: {
            type: Types.ObjectId,
            ref: "book"
        },
        startCounter: {
            type: Types.Number,
            required: true
        },
        endCounter: {
            type: Types.Number,
            required: true

[2018-11-28 06:03] rajeshwar-fissionhq opened #158 "I dont see any file at ./node_modules/.bin/rest-hapi-cli"
**Describe the bug**
I don't see any file at `$ ./node_modules/.bin/rest-hapi-cli` to run the command `$ ./node_modules/.bin/rest-hapi-cli seed`

**To Reproduce**
Steps to reproduce the behavior:
1. Cloned the repo using `git clone https://github.com/JKHeadley/rest-hapi-demo.git`
2. `cd rest-hapi-demo`
3. `npm install`
4. `./node_modules/.bin/rest-hapi-cli seed`

**Expected behavior**
After follow

[2018-11-28 06:12] JKHeadley commented on #158
Hi @rajeshwar-fissionhq, not sure what would cause this. What version of node/npm are you using?

[2018-11-28 06:50] rajeshwarpatlolla commented on #158
node -v
v8.12.0
npm -v
6.4.1

[2018-11-28 07:12] JKHeadley commented on #158
hmm, that's probably not the issue. Could you paste the output of the following commands?
`npm bin`
and
`ls -1 ./node_modules/.bin/`

[2018-11-29 09:01] gautamchitnis opened #159 "Change mongoose database dynamically"
I'm trying to do something simple enough, but can't figure it out for the life of me.

I am trying to change the database before using ```RestHapi.create()``` call.

I have a config file which has the basic configuration setup and i need to change that dynamically for a certain functionality.

My config file creates a manifest, exactly like in ```appy-backend``` , another project by Author of this

[2018-11-30 03:05] JKHeadley commented on #159
Hi @gautamchitnis, would you mind sharing your code where you register the rest-hapi plugin?

[2018-12-02 08:59] ahmedsoliman64 opened #160 "associations validation"
**No validation to make sure that associations already exist **
Create new model with ref to other model not validated if already exist or not

**To Reproduce**
Steps to reproduce the behavior:
1. Create two models A and B.
2- Add ref in model A of type ObjectId to model B
3- try to call the post method to create new document from model A with a random ObjectId value in the ref field. which refer

[2018-12-04 04:10] JKHeadley commented on #160
@ahmedsoliman64 Thanks for pointing this out!

[2018-12-10 14:20] OliS76 commented on #155
I found the same issue.
Interestingly, when I refer to your example above
try a
GET /user/{**secondUserId**}/user

In my case, this is where I found the association but from secondUserId to secondUserId.

That looks like a bug to me.

[2018-12-11 09:22] OliS76 commented on #155
So, interesting further discovery:
It works when you add **embedAssociation: true**,
then it adds the association for
GET /user/{**secondUserId**}/user
**and** for
GET /user/{**firstUserId**}/user
to the respective association partner.

Just one note:
API-wise I would have exprected the association to be directed
I.e. only firstUserId -> secondUserId
but it generates an undirected association
firs

[2019-01-09 12:15] jozefb opened #161 "Configuration with auditLogTTL unspecified"
**Describe the bug**
When configuration property _auditLogTTL_ is unspecified then TTL index of **auditLog** collection is created with _expireAfterSeconds_ field value set to "null". This causes the following error logged by MongoDB:

As stated in https://jira.mongodb.org/browse/SERVER-37983, creation such indexes in future MongoDB versions will be rejected

**To Reproduce**

1. Leave _auditLogTT

[2019-01-10 16:28] JKHeadley commented on #161
@jozefb Great catch! I'll try to integrate your fix ASAP. Feel free to open a Pull Request if you like.

[2019-01-15 22:08] TLMcNulty commented on #144
@gpicazo did you ever figure this out? I'm having the same issue with an mlab account.

[2019-01-16 17:06] burakkilic commented on #105
Hi,

Any updates regarding disabling .lean() ?

[2019-01-16 18:19] JKHeadley commented on #105
Hi @burakkilic, unfortunately this feature didn't make it into the last update. It should be a simple fix however so I will try to make this a priority when I am able to get back into maintaining the repo.

[2019-01-30 09:33] leotian commented on #121
I hope so

[2019-02-15 14:44] launay12u commented on #158
I Have the same issue, here is my `npm bin` :

/Users/MyUser/Projects/rest-hapi/node_modules/.bin

and `ls -1 ./node_modules/.bin/` :

acorn
atob
babylon
blue-tape
bsondump
cssmin
escodegen
esgenerate
eslint
eslint-config-prettier-check
esparse
esvalidate
handlebars
is-ci
js-yaml
jsesc
jsmin
lint-staged
loose-envify
mkdirp
mongo
mongo-supervise
mongod
mongodb-download
mongodump
mongoexport
mongofi

[2019-02-27 20:07] davad opened #163 "Cannot define model property 'id'"
## Describe the bug
Schema can't contain a user-defined 'id' property. Is this by design?

## To Reproduce

I have a model with a "friendly ID".

Example schema:
[code]

When I try to create a document, the `id` is silently dropped. When I try to update a document, the `id` throws a Joi validation error like this:

[code]

It looks like [this line](https://github.com/JKHeadley/rest-hapi/blob/9d03b

[2019-02-28 16:41] davad opened #165 "Extended SchemaType syntax produces incorrect Joi validation"
## Describe the bug
Setting a schema field to Mixed type using a SchemaType object creates invalid Joi configuration

## To Reproduce
### Example schema:
[code]

### Creating a document fails unless `altMixed` is an object

#### Document with `altMixed` set to a string
[code]

#### Document with `altMixed` set to an empty object
[code]

## Expected behavior
Joi validation should be the same regard

[2019-03-01 14:51] davad opened #166 "CRU fails for schema using Mongoose Map type"
## Describe the bug
When a schema has a Map field, create/read/update operations throw the following server-side error:

[code]

## To Reproduce
### Example schema:
[code]

## Expected behavior
Map types should be converted to/from plain objects. Joi would validate the shape of the *contents* of the Map, but not the Map keys themselves.

E.g. Sample JSON using the schema above; the first key/value

[2019-03-01 14:55] davad commented on #166
I think I tracked down what's causing the error. I don't know if this is the only issue, but it allows me to create/read/update documents using a Map field.

Mongoose adds an extra entry to `schema.paths` for the Map type. It's called 'mapField.$*'. When that's included in the RestHapi queries, it throws the error mentioned above. When I filter out that path from the query, everything seems to wor

[2019-03-07 00:43] karabaralex opened #168 "error when mongodb uri with mongodb+srv"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-03-07 00:47] karabaralex commented on #168
steps to repro:
1. create a mongodb cluster at Atlas
2. get connection uri which looks like
mongodb+srv://<some>.mongodb.net/test?retryWrites=true
3. add this uri to rest-hapi config
      mongo: {
        URI: 'mongodb+srv://<some>.mongodb.net/test?retryWrites=true',
      },
4. npm start

[code]

[2019-03-18 16:43] JKHeadley commented on #163
@davad `id` is used as a virtual property to get a string representation of a document's `_id`. I'm not sure if there are any side effects to overriding the virtual property with a user defined one.

[2019-03-18 16:45] #163 closed

[2019-03-18 17:15] JKHeadley commented on #166
closed with #167

[2019-03-18 17:15] #166 closed

[2019-03-20 15:24] JKHeadley commented on #158
hi @launay12u,

`npm bin` and `./node_modules/.bin/rest-hapi-cli seed` should be performed within the directory for the project using rest-hapi (such as `rest-hapi-demo`), not `rest-hapi` itself.

[2019-03-22 21:57] JeanReneRobin commented on #158
I just ran into the same problem, using Webstorm to checkout the projet.
I reinstalled Node, npm but it didn't help.

Eventually, I ran the commands (`git clone`, `npm install`, ...) via command line, and it worked.

[2019-03-23 04:10] JKHeadley commented on #158
@JeanReneRobin glad you worked it out! Hopefully this will help others as I'm still unsure what is causing the issue.

[2019-04-07 18:02] mindjuice opened #170 "NeDB Support"
**Is your feature request related to a problem? Please describe.**
For smaller projects where a full mongodb server is overkill, it would be great to use `rest-hapi` with NeDB: https://github.com/louischatriot/nedb

**Describe the solution you'd like**
Rather than providing a mongo URI, we could pass in an object that maps model name keys to NeDB datastore instances (i.e., mongo collections).

**D

[2019-04-08 16:50] mindjuice commented on #170
Looks like this might already be possible by passing in a mongoose instance to the options object that is wrapped by NeDB:

https://github.com/aerys/mongoose-nedb
https://github.com/aerys/mongoose-nedb/blob/master/lib/connection.js
https://github.com/aerys/mongoose-nedb/blob/master/lib/collection.js

That package does not seem active/supported though.

[2019-04-09 11:51] fabripeco commented on #91
It would be nice to have at least a baseUrl to prefix the API endpoint (e.g /api/login instead of /login). Is this feature available? Thank you!

[2019-04-09 16:14] JKHeadley opened #171 "Add general hapi-swagger config option"
**Is your feature request related to a problem? Please describe.**
Currently only specific hapi-swagger settings can be set (e.g. `config.enableSwaggerUI`)

**Describe the solution you'd like**
We need to add a config option that would allow all hapi-swagger config to be set.

**Additional context**
We will need to decide how defaults are set and make sure to handle when both current options are s

[2019-04-09 16:28] JKHeadley commented on #170
I love this idea! It does look like NeDB isn't very actively supported, though it might be worth looking into.

Another possible alternative if you just want an in-memory db is https://github.com/nodkz/mongodb-memory-server, though it is mostly meant for testing purposes.

You can see it in use in the rest-hapi e2e tests: https://github.com/JKHeadley/rest-hapi/blob/b069959a8813ecc01124fe38e8b03817

[2019-04-10 15:09] mindjuice commented on #170
For my use case, I need persistence (it's for a small, Raspberry-Pi-like device), and data would be streaming in quite frequently.  If I can get 2GB of RAM onto the unit I might be confident enough to just use MongoDB directly.  Worried about the overhead of MongoDB on one hand, and whether NeDB would be up to the task on the other hand.

[2019-04-10 15:47] JKHeadley commented on #170
Yeah that makes total sense. Just curious, if you could choose your ideal DB for your application, what would it be? I would like to one day update rest-hapi to support multiple DBs.

[2019-04-10 16:04] mindjuice commented on #170
I've mainly used MongoDB and MariaDB/MySQL, but I also really liked RethinkDB before the company went under.  I sort of lost hope for it, but it looks like the community has kept it up pretty well though.

It has the ability to stream updates to queries in real-time as the database changes, which is really slick.

[2019-04-19 06:57] fabripeco commented on #102
Populating subdocs will be a very important feature for an association. From the Swagger documentation it seems to be possible
![image](https://user-images.githubusercontent.com/11854441/56411289-93695300-6280-11e9-8666-b4e6ac727ad5.png)
but server return 500 with an error like
`— Error: Association not found.
[08:46:24.493]  5437 ERROR    node_modules/rest-hapi/utilities/handler-helper.js:1677:9

[2019-04-19 08:25] adupre opened #174 "Add support for polymorphism (discriminators)"
I need to be able to leverage the polymorphism features of [Mongoose (discriminators)](https://mongoosejs.com/docs/discriminators.html) to create schemas that inherit from one another (example: Contract, SalesContract, PurchaseContract)

Enhance the model and api generators to support discriminators. Leverage [Swagger's support of OneOf](https://swagger.io/docs/specification/data-models/oneof-anyo

[2019-04-24 16:52] JKHeadley commented on #174
Thanks! Glad to hear it!

I will try to look into this soon and see how feasible it is.

[2019-04-25 07:17] JKHeadley commented on #174
@adupre I added some initial support for discriminators. You can test it out with this repo:
https://github.com/JKHeadley/rest-hapi-demo/tree/feature/discriminators

Some notes:
- Does not use swagger `OneOf` since it is not supported in hapi-swagger, however most of the documentation should be taken care of by rest-hapi directly.
- The `discriminatorKey` property is automatically queryable, which

[2019-04-25 23:22] JKHeadley commented on #171
Added with https://github.com/JKHeadley/rest-hapi/pull/172

[2019-04-25 23:22] #171 closed

[2019-05-03 03:26] JKHeadley opened #175 "setting "routeOptions.readAuth" to "false" disables header validation for other endpoints"

[2019-05-03 03:53] #175 closed

[2019-05-03 21:24] JKHeadley commented on #174
@adupre please let me know if you have any input here. I will try to integrate this feature with the next minor version.

[2019-05-27 08:34] sanzoghenzo opened #181 ""Log.warning is not a function" after #177"
**Describe the bug**
Please bear with me as I'm quite new to nodejs. Maybe this issues is due to some mess I did while upgrading my project packages to fix some vulnerability warnings...
anyway, I'm trying to make some jest unit tests, and I incurred in this problem.

PR #177 uses "Log.warning" to log warning messages, but loggin only has "warn" method.
This results in:

    ..\..\node_modules\res

[2019-05-27 13:33] sanzoghenzo commented on #141
I went through some trial & errors, too, and I think I came to a decent solution.
`require('mongoose')` returns a singleton, so if you call if after the server creation, you get the cached mongoose instance.
The following example doesn't start the server (only initializes it), since I was interested in testing some methods declared in Schema.static without calling API endpoints.
I also make sure t

[2019-05-27 17:03] JKHeadley commented on #141
@sanzoghenzo very nice! Yes getting things in the right order can be a bit tricky. Thanks for sharing your solution!

As a side note, if you find spinning up a MongoDB instance too slow or cumbersome, you can using [mongodb-memory-server](https://github.com/nodkz/mongodb-memory-server). See [this comment](https://github.com/JKHeadley/rest-hapi/issues/170#issuecomment-481324779).

[2019-05-27 18:36] #181 closed

[2019-05-27 18:38] JKHeadley commented on #181
@sanzoghenzo thanks!

[2019-07-26 03:45] li5tun opened #188 "`_findHandler`, return data from `post` middleware, instead of the original result"
**Is your feature request related to a problem? Please describe.**
When I changed a field value(or add some other logic) in `post`, I want the changed object as the final result.

**Describe the solution you'd like**
return `data` instead of `result`

**Describe alternatives you've considered**
N

**Additional context**
`async function _findHandler(model, _id, request, Log) {
  try {
    let query

[2019-08-15 09:11] sumitsaha opened #189 "Custom header option to swagger ui for all routes"
According to documentation it's possible to pass a header parameter to a specific route by passing a validate function to route config object like this:

[code]

But this would add a header option to swagger ui only for the route "/generate" like this image:

![Screen Shot 2019-08-15 at 1 39 02 AM](https://user-images.githubusercontent.com/1416832/63050730-90643380-befd-11e9-9e3c-37f8725eb632.png)

[2019-08-17 19:21] JKHeadley commented on #189
Hi @sumitsaha . I'm not quite sure, but this sounds more like a `hapi` or `hapi-swagger` question rather than `rest-hapi`. Are you trying to do this with the routes generated by `rest-hapi`?

[2019-08-21 13:11] Clemssss commented on #149
@JKHeadley Hey, what about array of strings now ? Thanks for your answer.

[2019-08-22 19:19] Clemssss opened #191 "getAll request on '_MANY' association"
**Describe the bug**
I want to get '_MANY' association and rest-hapi return all datas of the model of association

**To Reproduce**
Steps to reproduce the behavior:
1. Create '_MANY' association
[code]

2. I am creating companies in the model companies
<img width="1175" alt="Capture d’écran 2019-08-22 à 18 07 04" src="https://user-images.githubusercontent.com/33428384/63531637-3bca4500-c509-11e9

[2019-08-22 20:44] JKHeadley commented on #191
Hi @Clemssss, thanks for reaching out.

I believe I understand the issue you describe, though I will need some more information since I am unable to replicate it on my end.

1) Is this response from a REST endpoint (i.e `GET /<your entity>/{ownerId}/companies`) or from a [wrapper method](https://resthapi.com/docs/mongoose-wrapper-methods.html)?

2) Could you display the JSON for the original paren

[2019-08-22 22:30] Clemssss commented on #191
Thank @JKHeadley for your speedy response !

1. Yes is the response from the REST endpoint ```GET /<your entity>/{ownerId}/companies```

2. This is the response of ```GET /<your entity>/{_id}``` (companies is the _MANY relationship and she is embed), in itself this endpoint (```GET /<your entity>/{_id}```) return the  _MANY relationship but if an endpoint is created just for this it would make mor

[2019-08-24 02:04] JKHeadley commented on #191
Hmm, yes `GET /<your entity>/{ownerId}/companies` should return the same documents as the embedded `companies` field. I'm not sure why it is not in your case. Would you be able to share some code (mainly model files) that will allow me to replicate the issue?

[2019-08-24 14:42] Clemssss commented on #191
Sure.
```UserSchema``` (<your entity>)
[code]
```CompanySchema```
[code]

[2019-08-24 15:30] Clemssss commented on #191
Ohh, i find, its the find and list pre-middlewares in the ```CompanySchema```.
If i delete it, it works, but i don't know why ...?

[2019-08-24 21:02] JKHeadley commented on #191
Hi @Clemssss, it's because you are overriding the `query` parameter in the middleware function instead of modifying it. `getAll` internally uses the `query` parameter to filter the results based on the ownerId. When you override it, you erase the filter and therefore get all of the `company` documents rather than the docs under the `ownerId`.

Try changing your middleware to:
[code]

[2019-08-24 21:16] JKHeadley commented on #149
@Clemssss thanks for bringing my attention to this. @mikaoelitiana apologies for the delay.

I believe the issue here is the syntax you are using. Instead of
[code]
try:
[code]

[2019-08-24 21:16] #149 closed

[2019-08-24 21:34] Clemssss commented on #191
Exactly, im stupid ... Thanks for your response !

[2019-08-24 21:36] #191 closed

[2019-08-25 01:52] JKHeadley commented on #191
Not at all, its easy to miss!

[2019-08-25 04:50] Clemssss commented on #149
@JKHeadley Thanks to you, for your time and your availability ! And exactly it works !
(rest-hapi is really really good, the saving time is insane, nice idea !!!!)

[2019-08-25 21:06] JKHeadley commented on #149
@Clemssss glad you find it useful!

[2019-08-31 08:31] hilanmiao commented on #161
I have encountered the same problem.i used @jozefb's solution.If the official has a better solution, fix it.Thank you very much.

[2019-09-10 12:23] smogili1 opened #197 "Apply post handlers for embedded associations"
Hi -

I have defined some pre and post handlers for the user model. And another model (modelA) is associated with the user model. However the pre and post handlers I defined in the user model are not applied when I query modelA with $embed = user. Is there a way to apply the post handler for user model even when it is retrieved as an embedded association.

Thanks,

[2019-09-10 21:49] JKHeadley commented on #197
Hi @smogili1, there is no built-in option for doing this, since an `$embed` is basically a shortcut for calling [mongoose populate](https://github.com/JKHeadley/rest-hapi/blob/b3117a29a7ab763b5890099fa05bc3a8e4e8c2c8/utilities/query-helper.js#L380), which is not a rest-hapi method.

That being said, you have several options that might help you accomplish what you are trying to do. The easiest opti

[2019-09-13 20:48] JKHeadley commented on #140
Handler portion resolved with https://github.com/JKHeadley/rest-hapi/pull/200

[2020-01-06 06:29] RudrikaFichadiya opened #207 "Whenever try to run node application, Server get initialized but "UnhandledPromiseRejectionWarning" for "expireAfterSeconds"."
` UnhandledPromiseRejectionWarning: MongoError: TTL index 'expireAfterSeconds' option must be numeric, but received a type of 'null'. Index spec: { name: "date_1", key: { date: 1 }, expireAfterSeconds: null, background: true }`

- I am able to open the Swagger Doc but whenever tries to get data from it, it throws: **TypeError: NetworkError when attempting to fetch resource.**
- I have configured:

[2020-01-06 13:31] #207 closed

[2020-01-13 17:09] mescalito opened #208 "error: ./node_modules/.bin/rest-hapi-cli seed error"
**Describe the bug**
I'm following the quick-start guide:
https://resthapi.com/docs/quick-start.html

**To Reproduce**
Steps to reproduce the behavior:
1. $ git clone https://github.com/JKHeadley/rest-hapi-demo.git
2. $ cd rest-hapi-demo
3. $ npm install
4. $ ./node_modules/.bin/rest-hapi-cli seed

Step #4 is giving me some errors:
[code]

[2020-01-15 04:38] JKHeadley commented on #208
@mescalito Thanks for reporting this. It looks like several people are experiencing similar issues. I'll try to look into this soon.

[2020-01-19 20:33] kijamve commented on #208
@JKHeadley @mescalito Maybe it is a Mongoose bug or something that is not done well before this. But I fix it change this lines: /node_modules/mongoose/lib/utils.js (find exports.expires line, aprox 570):
[code]
by this:
[code]

[2020-01-19 21:48] JKHeadley commented on #161
fixed with https://github.com/JKHeadley/rest-hapi/pull/205

[2020-01-19 21:48] #161 closed

[2020-01-19 21:52] JKHeadley commented on #208
fixed with https://github.com/JKHeadley/rest-hapi/pull/205

@mescalito  this should be fixed now as long as you are using rest-hapi@v1.9.1 or higher

@kijamve nice find! However since manually editing files in `node_modules` is never idea for a permanent fix, you should be fine with the latest version of rest-hapi

[2020-01-19 21:52] #208 closed

[2020-01-19 22:26] kijamve commented on #208
@JKHeadley Thanks, the change in node_module was while you search the real error xD

[2020-02-10 03:08] JKHeadley opened #211 "test-helper uses 'default' auth strategy"
it should at least use the strategy defined by the rest-hapi config if defined.

[2020-02-10 03:12] #211 closed

[2020-03-11 22:21] JKHeadley opened #218 "config.enableWhereQueries should be false by default"
Allowing `$where` queries is a useful feature for quick prototyping but comes with security implications and therefore should be disabled by default.

[2020-03-20 14:44] yoieh opened #220 "Support for later @hapi versions and plugins"
**Is your feature request related to a problem? Please describe.**
[code]
and is the latest version of joi that still exists and I can get this to work with.

I tried to upgrade hapi-swagger to later versions and there required versions of `@hapi/hapi` and `@hapi/joi` with no luck.

hapi-swagger Compatibility tabel:

Version | Hapi | Joi | Node
-------- | ----- | --- | ------
v12.x | >=19.0.0 @hap

[2020-03-20 20:57] JKHeadley commented on #220
@yoieh thanks for the thorough report! I agree, it is due time to upgrade some of rest-hapi's major dependencies. This project is still being maintained, though resources are very limited.  The needed updates (especially joi) look to require a sizable amount of work, which is why they've been put off until now.

Note that there has been an effort to keep dependencies somewhat up to date: https://g

[2020-03-23 23:15] JKHeadley opened #222 "update docs to 2.0"

[2020-03-23 23:17] JKHeadley opened #223 "fix all current security vulns"

[2020-03-23 23:40] JKHeadley opened #224 "update mongoose to latest"

[2020-03-24 19:26] #218 closed

[2020-03-24 19:27] #224 closed

[2020-03-24 19:27] #223 closed

[2020-03-24 19:28] #220 closed

[2020-03-24 19:49] #222 closed

[2020-03-24 20:26] JKHeadley opened #230 "2.0.0 Release Notes"
## Summary

**rest-hapi** v2.0.0 is a major version update that focuses on updating dependencies to improve security. The primary dependency updates include [hapi v18->v19](https://github.com/hapijs/hapi/issues/4017), [joi v14->v17](https://github.com/hapijs/joi/issues/2037), and [mongoose v4->v5](https://mongoosejs.com/docs/migrating_to_5.html).

## Breaking Changes
All of the breaking changes in

[2020-03-24 20:26] #230 closed

[2020-03-24 23:03] JKHeadley commented on #220
@yoieh rest-hapi v2.0 is now available with updated hapi modules and plugins. Please see the release notes for changes: https://github.com/JKHeadley/rest-hapi/issues/230

[2020-03-25 09:33] yoieh commented on #220
awesome! and thanks for the grate work to you all and this awesome project it saves a major chunk of time!

[2020-03-25 17:50] yoieh opened #231 "config.enablePolicies = true dose not work on windows"
**Describe the bug**
When setting `config.enablePolicies = true` the `policyDirectory` is set to the root dir of the project and every file in the project gets loaded as a policy and fails.

**To Reproduce**
Steps to reproduce the behavior:
1. on windows spread rest-hapi in to your config and enable enablePolicies
[code]
2. add console.log in side of mrhorse lib folder
[code]
3. run `npm start`
4.

[2020-03-25 23:19] #231 closed

[2020-03-26 21:22] hmenzagh opened #233 "Issue with MrHorse.orPolicy in additional endpoint"
When I use a `MrHorse.orPolicy` in an additional endpoint I get an error message.

Version : 1.9

code sample:
[code]

error message:
[code]

My policy functions are not executed, and I see that the `console.log` of `results` (L:381 in MrHorse's [index.js](https://github.com/mark-bradshaw/mrhorse/blob/1804c528ba822d761763329c7fdf22dfbcea2647/lib/index.js)) is empty (`{}`) witch explains the error

[2020-03-27 01:01] JKHeadley commented on #233
@hmenzagh it's hard to say. I don't have much experience with the `MrHorse.orPolicy` feature. If you could provide the full code needed to replicate the issue (model and policy files) I can try to look into it.

[2020-03-27 01:59] hmenzagh commented on #233
I guess no code setup is really necessary, just import `mrhorse` and add something like `policies: ['userAuth', MrHorse.orPolicy('objectAuth', 'adminPowered')],`
if you really need the full code I'll try tu put up something asap

[2020-03-27 02:23] JKHeadley commented on #233
@hmenzagh yes that would be very helpful. If you could provide a very basic example (full code) to replicate the issue that will help a lot since my resources are very limited.

[2020-04-03 11:28] yoieh opened #234 "Sort and search by many_one associations fields"
**Is your feature request related to a problem? Please describe.**
I'm trying to build a frontend with searchable and sortable tables having one "main" collection with where many of the tables columns are `many_one` associations.

Simplified example:

MainName | sub1.name | sub1.sub2.name
-------------|-------------|-------------
name1        |sub1Name1| sub2Name1
name2        |sub1Name2| sub2Name

[2020-04-04 02:37] yoieh opened #235 "Shouldn't pagination exclude deleted items?"
**Is your feature request related to a problem? Please describe.**
Do not know it this is a bug or not so I'm adding it here.

When soft delete is active shouldn't total items exclude deleted items?
If not its impossible to tell how many items actually "exists" on a clients pagination.

**Describe the solution you'd like**
exclude `isDeleted` documents from the total amount also recalculate the to

[2020-04-05 03:15] JKHeadley commented on #235
@yoieh Thanks for bringing this up. Soft delete is a tricky feature to manage and I'm definitely open to ideas. For your needs I think the current solution would be to select documents with `isDeleted` equal to `false` within the query itself, like so:

[code]

This will give you proper pagination values excluding deleted documents. Does this make sense?

[2020-04-05 03:55] yoieh commented on #235
In my case I still need the deleted documents to be able to remove them from the client. But yes i went with a costume rout as a "sync route". That takes a `lastSync=DATE`. Then I'm doing the "get list" call with `isDeleted=false`. Not really optimal to do to calls every time an client updates but it works and also enables an case to update cached documentss on my client. Still there are some othe

[2020-04-06 04:05] JKHeadley commented on #235
@yoieh lets move the conversation to your PR: https://github.com/JKHeadley/rest-hapi/pull/236

[2020-04-06 08:04] #235 closed

[2020-04-06 21:58] JKHeadley commented on #234
@yoieh yeah this is a tricky problem. However if I understand you correctly then it sounds like you need to take advantage of the [duplicate fields feature](https://resthapi.com/docs/duplicate-fields.html). It was added for this type of use case.

[2020-04-07 10:16] yoieh commented on #234
I totally I totally overlooked that feature. It seems to do exactly what I need.

[2020-04-08 17:52] yoieh opened #237 "[Question] I'm having trouble using $text or $term"
I'm trying to implement a "free text search" using `$text` or `$term` while having a "custom default" query in a list pre middleware and cant get it to work as expected.

Could also be that I'm missing something.

I'm setting this in my list pre middleware
[code]

When I'm using `$text` I have to sent a word that matches one word -1 letter to return any matching data.
Example `$text=Awesom` will r

[2020-04-08 20:23] yoieh commented on #237
Using the `$term` i found importing and using the `queryHelper` and using `setTermSearch` then after setting the `$or` created by setTermSearch in side of `$and` with my other `$or`. And at last deleting the `$or` created by setTermSearch.

This simply moves the `$or` that "ignores" my `$where` in to an `$and`
Dirty but it works for now..

[code]

[2020-04-09 00:25] yoieh commented on #234
Ha re built my associates using this feature now and it seems to work. Only Issue is that it dose seem to add my duplicate fields when using `RestHapi.create()` in my seeder. I'm setting `enabelDuplicateFields` to true before using it but I have to add the values manually and have them in my schema

[2020-04-09 04:30] JKHeadley commented on #234
@yoieh please check out these docs for using duplicate fields when calling wrapper methods (e.g. `RestHapi.create()`: https://resthapi.com/docs/mongoose-wrapper-methods.html#simulated-rest-calls

[2020-04-09 04:34] JKHeadley opened #238 "update docs to mention when 'restCall' param is needed"
Ex: when trying to use duplicate fields

[2020-04-09 08:54] yoieh commented on #234
I missed that the arguments needs to be in a object to use the "restCall=true" also severer has to be registered in the same script if `RestHapi.create({restCall: true})` is used in a seeder script.
Also if auth is used credentials needs to be set as such `
[code]

It took some time to understand how it works but i got it to work now with in my seeders and it seriously made my code much less compl

[2020-04-09 08:54] #234 closed

[2020-04-10 12:42] JKHeadley commented on #234
@yoieh good to hear! I'll try to update the docs to make it more clear. Let me know if you have any suggestions.

[2020-04-10 12:43] JKHeadley commented on #238
see: https://github.com/JKHeadley/rest-hapi/issues/234

[2020-04-16 19:28] hmenzagh opened #240 "Schema.Types.Mixed does not accept Arrays"
I hope it's not a misunderstanding from my part but it seemed to me that a `Mixed` type corresponds to an `any` type and my usual code using mongoose works well with that constraint.
But when I use a `Schema.Types.Mixed` in the `type` property I cannot pass an `array`. The server returns an error saying it expected an `Object`.

[code]

I have to pass `context: { type: [{ type: Schema.Types.Mixed

[2020-04-17 04:28] #240 closed

[2020-04-17 04:30] JKHeadley commented on #240
@hmenzagh thanks for bringing this up. I've updated `Mixed` to result in `Joi.any()` validation.  Please update to v2.1.1

[2020-06-08 20:20] hmenzagh opened #243 "[Bug /Question/Request?] config.loglevel"
To keep it simple:

 I'm trying to log what routes are called but **not the result**, and changing between :
[code]
does not seem to do much. Am I missing something ?
If I change the `loglevel` to `WARNING` nothing shows up (maybe errors etc) but not the routes being generated for instance.

Is that the expected behavior ?

(running the latest version of everything)

[2020-06-23 13:08] hmenzagh opened #245 "https://resthapi.com is down"
https://resthapi.com is down

[2020-06-25 18:42] JKHeadley commented on #243
@hmenzagh sorry for the delay. Yes I believe this is just a matter of better configuring of the logging code, which is in need of some pretty major refactoring in general. Most likely you are referring to the `list` results, which can be quite verbose:

https://github.com/JKHeadley/rest-hapi/blob/master/utilities/handler-helper.js#L221

I'll see about at least changing this to `Log.info` to help k

[2020-06-25 18:43] JKHeadley commented on #245
Thanks! I'll look into this.

[2020-06-25 19:31] hmenzagh commented on #243
Thanks ! I'll look into it if you didn't do the changes next time I manage my rest-hapi code

[2020-06-26 19:03] JKHeadley commented on #245
Should be back up, thanks again!

[2020-06-26 19:03] #245 closed

[2020-06-27 12:39] prudradeep commented on #133
is this solved?

[2020-06-27 12:39] prudradeep commented on #133
is this feature implemented?

[2020-06-28 07:09] JKHeadley commented on #133
@prudradeep unfortunately it hasn't been implemented yet.

@SukantGujar apologies for never getting back to you. Did you ever manage to make any progress here?

[2020-06-28 17:12] tuutoo opened #246 "How to use SSL with rest-hapi?"
Is it possible start the server with https protocol?
I have my SSL certificates but don't know how to configure to use https.

[2020-06-29 06:39] prudradeep commented on #133
@JKHeadley  Can i help you on this

[2020-06-29 14:46] tuutoo commented on #246
I have found a solution and it works now. :D

in **api.js**

1. at the beginning, add 1 line to require fs module.
2. add a tls node in below section.

**const fs = require('fs')**
...
...
let server = Hapi.Server({
      port: 3001,
      **tls: {
        key: fs.readFileSync('/your_ssl_key_path/privkey.pem'),
        cert: fs.readFileSync('/your_ssl_key_path/fullchain.pem')
      },**
      rout

[2020-06-29 14:46] #246 closed

[2020-06-29 16:53] JKHeadley commented on #246
@tuutoo glad you worked it out. Thanks for sharing! ;)

[2020-06-29 17:06] JKHeadley commented on #133
@prudradeep absolutely! This feature will required a decent amount of code and testing but should look similar to the existing code so any help is greatly appreciated.

I agree with most of the points @SukantGujar made in the post above. Basically we will need two additional endpoints:

- `POST /{modelname}/recover/{_id}` to recover a single document.
- `POST /{modelname}/recover/` with a payload

[2020-06-30 13:42] prudradeep commented on #133
@JKHeadley This feature implemented on my local machine

Endpoints generated as follows:
- `PUT /{modelname}/{_id}/recover` to recover a single document
- `PUT /{modelname}/recover` with a payload of an array of `_id`s to recover multiple documents.

Above endpoints generated only if `enableSoftDelete` is enabled and `model.routeOptions.allowUpdate` is `true`.

As you mentioned these endpoints sim

[2020-07-09 07:41] JKHeadley opened #248 "Add a release process"
Either in the readme or in the docs. Need to add an official release process that specifies steps such as:
- Update version
- Update changelog
- Update docs (including versioning docs)
- Publish to npm

[2020-07-09 07:42] JKHeadley opened #249 "refactor test npm scripts"
Unsure if `nyc` and `codecov` are being used appropriately. Need to double check.

[2020-07-09 09:10] #249 closed

[2020-07-13 12:46] hmenzagh commented on #248
Having a docs diff would be a must !

[2020-07-16 11:41] hmenzagh commented on #243
#251

[2020-07-20 19:58] hmenzagh commented on #233
I was preparing an example repo and I dont know what changed but the issue is not reproducible anymore, I will re-open if it rises up again.
Sorry for the inconvenience.

[2020-07-20 19:58] #233 closed

[2020-08-19 16:24] #197 closed

[2022-03-02 17:08] RashiqAzhan opened #292 "Error [ERR_REQUIRE_ESM]: Can't start demo project."
**Describe the bug**
Chalk in utilities is no longer supported.

**To Reproduce**
Steps to reproduce the behavior:
Follow the documentation steps in [here](https://resthapi.com/docs/quick-start.html).

**Expected behavior**
The project starts normally like in the video.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informati

[2022-03-17 09:27] metinjakupi opened #293 "Do you maintain this project anymore?"
I would like to know if you will update to latest version ?

[2022-03-18 17:19] JKHeadley commented on #293
Hi @metinjakupi,

I would still like to maintain this project, however life has been very busy for me lately so I have not had much time. Hopefully in the future I can get back to more active maintenance.

What latest version are you referring to? Do you mean hapi? I have not updated to hapi v20 yet, however I did verify that mostly the change from v19 is just a change in the hapijs maintainer.

[2022-05-12 13:16] alsabbahy opened #296 "CreatedAt search with date range in listHandler"
Hello, I've been trying to add the dateRange to rest-hapi querying. And I was wondering if you've had already implemented it or it exists to query with date range for field attribute like "createdAt".

[2022-05-12 17:20] bitbay commented on #296
Isn't this akin to what's mentioned at mongoose tutorials on [working with dates - querying](https://mongoosejs.com/docs/tutorials/dates.html#querying)?
[code]

[2022-05-12 23:27] JKHeadley commented on #296
@alsabbahy @bitbay  Hi! Thanks for the great questions. @bitbay is on the right track. This is not yet a feature included out-of-the-box, however there are some tricks that should get you what you need without too much effort.

We can add this query option by including a `dateRange` model property (with appropriate [validation](https://resthapi.com/docs/validation.html) properties), then handling

[2022-05-13 10:48] alsabbahy commented on #296
@JKHeadley thanks for the quick reply.
Your example is very helpful, I'll try it and will try to make a policy for all models.
I'll let you know if I need help with policy.

[2022-05-15 13:52] alsabbahy opened #297 "Added support for date"
Hi @JKHeadley ! 👋

Firstly, thanks for your work on this project! 🙂

Regarding the issue #296.
Today I used [patch-package](https://github.com/ds300/patch-package) to patch `rest-hapi@2.3.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-05-19 02:16] JKHeadley commented on #297
@alsabbahy thanks for this! I'll work on integrating this functionality into the tool.